
html, body {
  // min-height: 100vh;
}

// rem responsive
html {

  // smooth scroll
  scroll-behavior: smooth;

  font-size: ($root-font-size * 1px);

  // bigger FullHD
  @media (min-width: 2000px) {
    font-size: 20px;
  }

  // @include media-breakpoint-down(xl) {
  //   font-size: 14px;
  // }

  // ipad landscape
  // @include media-breakpoint-down(lg) {
  //   font-size: 16px;
  // }

  // ipad portrait
  @include media-breakpoint-down(md) {
    font-size: 18px;
  }

  // // mobile landscape
  @include media-breakpoint-down(sm) {
    font-size: vw(14, 640);
  }

  // // mobile portrait
  @include media-breakpoint-down(xs) {
    font-size: vw(12, 320);
  }

  // iphone 4
  // @include media-breakpoint-down(xxs) {
  //   font-size: vw(11, 320);
  // }

  @media (orientation: landscape) and (max-width: 480px) {
    font-size: vw(12, 480) !important;
  }

  [data-toggle="tooltip"] {
    position: relative;
    cursor: pointer;

    // touch
    &:after {
      content: '';
      width: rem(30);
      height: rem(30);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.toggle {
 
  &.off {
    border-color: $secondary-color !important;
  }

  .btn {
    font-size: .75rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.toggle-handle.btn  {
  background: #fff;
}

.toggle-off.btn {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  color: #fff;
}