
// Footer
// ==================================================
.footer {
  padding: 1rem 0;
  background: #fff;
  // height: rem(50);

  // border-top: 5px solid $secondary-color;
  border-top: 5px solid $primary-color;

  * {
    line-height: 1;
  }

  .fa {
    font-size: .75rem;
  }
}