.header {
  position: relative;
  z-index: 1;

  .navbar {
    height: rem(100);
  }

  .navbar-brand {
    font-size: rem(38);
    margin-right: 8rem;
  }

  @include media-breakpoint-down(md) {

    .navbar {
      padding: 0;
    }

    .container {
      padding: 0;
      max-width: none;
    }

    .navbar-brand {
      margin-left: rem(15);
    }

    .navbar-toggler {
      margin-right: rem(15);
    }

    .navbar-collapse {
      background: $primary-color;
      padding: rem(15);
    }

    .nav-link {
      // color: $text-color !important;
    }

    .nav-logout {
      display: none;
    }
  }
}