.main-content {
  overflow: hidden;

  min-height: calc(100vh - #{rem(100 + 55)});

  .page--homepage-front &,
  .page--front & {
    border-top: 2rem solid $primary-color; 
    min-height: calc(100vh - #{rem(141)});
  }

  .page--front.logged & { 
    min-height: calc(100vh - #{rem(205)});
  }

  padding: 3rem 0;

  .page--homepage-front & {
    padding-bottom: 0;
  }
}