
{block description}Description{/block}
{block bodyClass}homepage{/block}

{block main}
<div class="container">

  <div class="d-flex justify-content-end align-items-center mb-5">
    {*
    <h1 n:block="title" class="h1">Admin - Homepage</h1>
    *}
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

  <div class="row justify-content-center">
    
    <div class="col-sm-6 col-lg-3">
      <a n:href="SestaveniJidelnicku:" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <span class="h4">Sestavit jídelníček</span>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-3">
      <a n:href="Recepty:" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <span class="h4">Recepty</span>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-lg-3">
      <a n:href="Archiv:" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-archive fa-5x" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <span class="h4">Archiv jídelníčků</span>
        </div>
      </a>
    </div>

    {if $menus && $menus[0]}
    <div class="col-sm-6 col-lg-3">
      <a n:href="Archiv:detailMenu $menus[0]->id" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-list-alt fa-5x" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <span class="h4">Aktuální jídelníček</span>
        </div>
      </a>
    </div>
    {/if}

  </div>

  {if $menus}
  <h2 class="h2 mb-3 mt-5">Publikované jídelníčky</h2>
  <div class="table-responsive">
    <table class="table table--menus">
      <thead class="thead-light">
        <tr>
          <th scope="col">Rok</th>
          <th scope="col">Týden</th>
          <th scope="col">Datum</th>
          <th class="text-center" scope="col">Aktivní</th>
          <th class="td--actions text-center" scope="col">Akce</th>
        </tr>
      </thead>
      <tbody>
        {foreach $menus as $m}
          {if $m}
            {if $iterator->first}
              <tr class="active">
            {else}
              <tr>
            {/if}
            <td scope="col">
              <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
                {$m[year]}
              </a>
            </td>
            <td scope="col">
              <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
                {$m[number]}
              </a>
            </td>

            {var $relDays = $m->related('relation_menu_day_menu_week')->fetchAll()}
            {var $monday = $relDays[(array_key_first($relDays))]->ref('menu_day')}
            {var $friday = $relDays[(array_key_last($relDays))]->ref('menu_day')}
            <td class="text-nowrap" scope="col">
              <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
                {$monday->date|date:'j. n. Y'} - {$friday->date|date:'j. n. Y'}</td>
              </a>
            <td class="text-center" scope="col">
              {if $iterator->first}
                Ano
              {else}
                Ne
              {/if}
            </td>
            <td class="td--actions text-nowrap text-center" scope="col">

              <!-- Show -->
              <a class="action action--show text-nowrap" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
                <i class="fa fa-eye mr-2" aria-hidden="true"></i>
              </a>
              
              <!-- PDF -->
              <a class="action action--pdf text-nowrap" n:href="Archiv:pdfMenu $m->id, 0" target="_blank" title="Ulož jako PDF">
                <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
              </a>

              <!-- Print -->
              <a class="action action--print text-nowrap" n:href="Archiv:pdfMenu $m->id, 1" target="_blank" title="Tisk">
                <i class="fa fa-print mr-2" aria-hidden="true"></i>
              </a>

              <!-- Change background image / customization -->
              <a class="action action--picture text-nowrap" n:href="Archiv:editBackground $m->id" title="Úprava obrázku na pozadí">
                <i class="fa fa-picture-o mr-2" aria-hidden="true"></i>
              </a>

              {*
              <!-- Delete -->
              <a class="action action--remove text-nowrap" n:href="Archiv:delete $m->id" title="Smazat">
                <i class="fa fa-trash mr-2" aria-hidden="true"></i>
              </a>
              *}

            </td>
          </tr>            
          {/if}
        {/foreach}
      </tbody>
    </table>
  </div>

  <div class="text-center mt-5">
    <a n:href="Archiv:" class="btn btn-secondary">Všechny jídelníčky</a>
  </div>

  {else}
      <p class="text-center mt-5">
        Zatím nebyly publikovány žádné jídelníčky
      </p>

      <div class="text-center mt-5">
        <a n:href="SestaveniJidelnicku:" class="btn btn-secondary">Sestavit první jídelníček</a>
      </div>
  {/if}

</div>
