<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="cs">
<![endif]-->
<!--[if gte IE 9]><!-->
<html class="no-js" lang="cs">
<!--<![endif]-->
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{ifset title}{include title|striptags} | {/ifset}Jídelníček</title>

  <meta name="description" content="{include description|striptags}">
  <!-- <meta name="keywords" content="Project keywords" /> -->

  <meta name="author" content="Adam Řezníček" />
  <meta name="copyright" content="Adam Řezníček" />

  <!-- Favicons -->
  {include './layout/includes/_favicon.latte'}

  <!-- Font Awesome 4.7 -->
  <link rel='preload' as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Google Font - Roboto -->
  <link  rel='preload' as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" media="screen" href="{$basePath}/styles/main.css">

  <!-- Important Scripts -->
  <script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {block head}{/block}

  <body class="page--{block bodyClass}{/block} {if $user->isLoggedIn()}logged{/if}">

    {include './layout/_header.latte'}

    <main class="main-content position-relative" role="main">
      {block main}{/block}
    </main>

    {include './layout/_footer.latte'}

    <div class="loading">
      <!-- https://loading.io/css/ -->
      <div class="loading__icon">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="{$basePath}/scripts/main.js"></script>
    {block scriptsFooter}{/block}

  </body>
</html>

