<link rel="apple-touch-icon" sizes="180x180" href="{$baseUrl}/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$baseUrl}/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$baseUrl}/images/favicons/favicon-16x16.png">
<link rel="manifest" href="{$baseUrl}/images/favicons/site.webmanifest">
<link rel="mask-icon" href="{$baseUrl}/images/favicons/safari-pinned-tab.svg" color="#207f7b">
<meta name="msapplication-TileColor" content="#207f7b">
<meta name="theme-color" content="#207f7b">