<!--  Essential META Tags -->

<meta property="og:title" content="Site title">
<meta property="og:type" content="article">
<meta property="og:description" content="Site description">
<meta property="og:url" content="http://example.com/index.html">
<meta name="twitter:card" content="summary_large_image">

<!-- IMAGES -->
<!-- Facebook summary card with large image must be at least 1200x630px and aspect ratio of 1.91:1 -->
<meta property="og:image" content="http://example.com/thumbnail-fb.jpg">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="http://www.example.com/thumbnail-tw.jpg">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Site/Company name">
<meta name="twitter:image:alt" content="Alt text for image">


<!--  Non-Essential, But Required for Analytics -->

<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@website-username">