<div class="container">

	<div class="d-flex mb-3 mb-xl-0 justify-content-between">

		{if $ageGroup == 1}
			<a class="action action--previous text-nowrap" n:href="Homepage:previous1">
				<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Minulý jídelníček
			</a>
		{/if}

		{if $ageGroup == 2 || $ageGroup == 3}
			<a class="action action--previous text-nowrap" n:href="Homepage:previous23">
				<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Minulý jídelníček
			</a>
		{/if}

		{if $ageGroup == 4}
			<a class="action action--previous text-nowrap" n:href="Homepage:previous4">
				<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Minulý jídelníček
			</a>
		{/if}
		
		{if $ageGroup == 5}
			<a class="action action--previous text-nowrap" n:href="Homepage:previous5">
				<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Minulý jídelníček
			</a>
		{/if}

		<a class="action action--home text-nowrap" n:href="Homepage:">
			Zpět na rozcestník <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i> 
		</a>
	</div>

	<h1 class="text-center mb-3"><a href="{$settings[school_url]}" target="_blank">{$settings[school_name]}</a></h1>
	{if $ageGroup == 1}
		<h2 class="text-center">Mateřská škola</h2>
	{/if}

	{if $ageGroup == 2 || $ageGroup == 3}
		<h2 class="text-center">Základní škola</h2>
	{/if}

	{if $ageGroup == 4}
		<h2 class="text-center">Střední škola</h2>
	{/if}
	
	{if $ageGroup == 5}
		<h2 class="text-center">Cizí strávníci</h2>
	{/if}

	{if $menu['week']}
	
		{include '../../../../Admin/templates/components/menu.latte'}

	{else}
		<div class="text-center mt-5">
			<p class="text-primary">Bohužel žádný jídelníček pro tento týden není aktivní</p>
		</div>
	{/if}

</div>