<div class="container">

	<div class="d-flex mb-3 mb-xl-0 justify-content-between">

		<a class="action action--home text-nowrap" n:href="Homepage:">
			<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Zpět na rozcestník 
		</a>

		{if $ageGroup == 1}
			<a class="action action--previous text-nowrap" n:href="Homepage:detail1">
				Aktuálně platný jídelníček <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
			</a>
		{/if}

		{if $ageGroup == 2 || $ageGroup == 3}
			<a class="action action--previous text-nowrap" n:href="Homepage:detail23">
				Aktuálně platný jídelníček <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
			</a>
		{/if}

		{if $ageGroup == 4}
			<a class="action action--previous text-nowrap" n:href="Homepage:detail4">
				Aktuálně platný jídelníček <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
			</a>
		{/if}
		
		{if $ageGroup == 5}
			<a class="action action--previous text-nowrap" n:href="Homepage:detail5">
				Aktuálně platný jídelníček <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
			</a>
		{/if}
	</div>

	<h1 class="text-center mb-3"><a href="{$settings[school_url]}" target="_blank">{$settings[school_name]}</a></h1>
	{if $ageGroup == 1}
		<h2 class="text-center">Minulý jídelníček - Mateřská škola</h2>
	{/if}

	{if $ageGroup == 2 || $ageGroup == 3}
		<h2 class="text-center">Minulý jídelníček - Základní škola</h2>
	{/if}

	{if $ageGroup == 4}
		<h2 class="text-center">Minulý jídelníček - Střední škola</h2>
	{/if}
	
	{if $ageGroup == 5}
		<h2 class="text-center">Minulý jídelníček - Cizí strávníci</h2>
	{/if}

	{if $menu['week']}
	
		{include '../../../../Admin/templates/components/menu.latte'}

	{else}
		<div class="text-center mt-5">
			<p class="text-primary">Bohužel žádný minulý jídelníček neexistuje</p>
		</div>
	{/if}

</div>