
{block description}Description{/block}
{block bodyClass}nastaveni{/block}

{block main}
<div class="container">

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 n:block="title" class="h1">Nové nastavení</h1>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      {form settingsForm}
        <div class="row">
          <div class="col-lg-6 col-xl-4">

            <h2 class="h2 mb-4">Informace</h2>

            <div class="form-group">
              {label school_name /}
              {input school_name}
            </div>
    
            <div class="form-group">
              {label school_url /}
              {input school_url}
            </div>
    
            <div class="form-group">
              {label email /}
              {input email}
            </div>

            <div class="form-group">
              {label phone /}
              {input phone}
            </div>
    
            <div class="form-group">
              {label cookers /}
              {input cookers}
            </div>
    
            <div class="form-group">
              {label supervisor /}
              {input supervisor}
            </div>
    
          </div>
          
          <div class="col-lg-6 col-xl-4">
            
            <h2 class="h2 mt-5 mt-lg-0 mb-4">Jídelníček</h2>

            <div class="form-group">
              {label closed /}
              {input closed}
            </div>

            <div class="form-group">
              {label age_group /}
              {input age_group}
            </div>

            <div class="form-group">
              {label menu_actived_at_day /}
              {input menu_actived_at_day}
            </div>
    
            <div class="form-group">
              {label menu_actived_at_time /}
              {input menu_actived_at_time}
            </div>

            <div class="form-group">
              {label has_two_main_dishes /}
              {input has_two_main_dishes}
            </div>
          </div>

          <div class="col-lg-6 col-xl-4">

            <h2 class="h2 mt-5 mt-xl-0 mb-4">Ostatní</h2>

            <div class="form-group">
              {label cookbook_url /}
              {input cookbook_url}
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <a n:href="Homepage:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
          {input settingsSubmit}
        </div>

      {/form}
    </div>
  </div>
  
</div>
