<!-- Favicon generator: http://realfavicongenerator.net/ -->
<!-- <link rel="apple-touch-icon" sizes="57x57" href="./images/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./images/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./images/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./images/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./images/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./images/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="./images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="./images/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="./images/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="./images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="./images/favicons/manifest.json">
<link rel="mask-icon" href="./images/favicons/safari-pinned-tab.svg">
<meta name="apple-mobile-web-app-title" content="DS Template">
<meta name="application-name" content="DS Template">
<link rel="shortcut icon" href="./favicon.ico">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="./images/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="./browserconfig.xml">
<meta name="theme-color" content="#ffffff"> -->