	<style>

		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		h1 {
		}

		h2, h3 {
			margin: 0 0 1rem;
			line-height: 1;
		}

		h3 {
			margin-bottom: 2rem;
		}

		table {
			border-collapse: collapse;
		}

		th, td {
			text-align: left;
			padding: 0;
		}

		thead th {
			font-size: 1.25rem;
			border-bottom: 1px solid #ccc;

			{if $settings[has_two_main_dishes]}
				padding-bottom: .25rem;
			{else}
				padding-bottom: .5rem;
			{/if}
		}

		tbody th {
			width: 8rem;
		}

		tbody td span {
			font-size: .75rem;
			display: block;
		}

		tbody th, tbody td {
			padding: .35rem 0;

			{if $settings[has_two_main_dishes]}
				padding: .2rem 0;
			{else}
				padding: .35rem 0;
			{/if}
		}

		.menu--1 tbody th, .menu--1 tbody td {
			
			{if $settings[has_two_main_dishes]}
				padding: .1rem 0;
			{else}
				padding: .25rem 0;
			{/if}
			
		}

		.alergeny {
			width: 6rem;
			font-size: .75rem;
			text-align: center;
		}

		.menu__day {
			width: 100%;
			border-bottom: 2px solid black;

			{if $settings[has_two_main_dishes]}
				margin-bottom: 1rem;
			{else}
				margin-bottom: 1.5rem;
			{/if}
		}

		.menu--1 .menu__day {

			{if $settings[has_two_main_dishes]}
				margin-bottom: .5rem !important;
			{else}
				margin-bottom: .75rem !important;
			{/if}
		}

		.text-center {
			text-align: center;
		}
	</style>

	<div class="container">

		<h1 class="text-center">{$settings[school_name]}</h1>
		{if $ageGroup == 1}
			<h2 class="text-center">Jídelníček - Mateřská škola</h2>
		{/if}

		{if $ageGroup == 2 || $ageGroup == 3}
		<h2 class="text-center">Jídelníček - Základní škola</h2>
		{/if}

		{if $ageGroup == 4}
		<h2 class="text-center">Jídelníček - Střední škola</h2>
		{/if}
		
		{if $ageGroup == 5}
			<h2 class="text-center">Jídelníček - Cizí strávníci</h2>
		{/if}
		
		{if $menu['week']}

			{var $relDays = $menu[week]->related('relation_menu_day_menu_week')->fetchAll()}
			{var $monday = $relDays[(array_key_first($relDays))]->ref('menu_day')}
			{var $friday = $relDays[(array_key_last($relDays))]->ref('menu_day')}

			<h3 class="text-center">{$monday->date|date:'j. n. Y'} - {$friday->date|date:'j. n. Y'}</h3>

			{var $daysEn = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']}
			{var $daysCs = ['Pondělí', 'Úterý', 'Štředa', 'Čtvrtek', 'Pátek']}

			<div class="menu menu--{$ageGroup}">
				{foreach $relDays as $relToDay}

					{var $day = $relToDay->ref('menu_day')}

					<table class="menu__day">
						<thead>
							<tr>
								<th colspan="2">{$daysCs[$iterator->counter - 1]} {$day->date|date:'j. n. Y'}</th>
								<th class="alergeny">Alergeny</th>
							</tr>
						</thead>
						<tbody>
							{if in_array($day->date|date:'Y-m-d', $closedAtDates)}
								<tr>
									<th>Zavřeno:</th>
									<td>Tento den se nevaří</td>
								</tr>
							{else}
								
								{if $ageGroup == 1}
									<tr class="menu__dish menu__dish--snack1">							
										<th>Přesnídávka:</th>

										{var $snacks1 = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['snacks1']}
										{if $snacks1}
										<td>
											{foreach $snacks1 as $sn1}
												{$sn1->name|lower}{if !$iterator->isLast()},{/if}
											{/foreach}			
										</td>
										<td class="alergeny">
											{var $allergens = []}
											{foreach $snacks1 as $sn1}
												{foreach $sn1->related('relation_dish_allergen') as $dishAllergen}
													{var $allergens[] = $dishAllergen->allergen->id}
												{/foreach}
											{/foreach}
											{var $allergensUnique = array_unique($allergens)}
											{foreach $allergensUnique as $a}
												{$a}{if !$iterator->isLast()},{/if}
											{/foreach}
										</td>
										{else}
										<td colspan="2">
											Nevaří se
										</td>
										{/if}
									</tr>
								{/if}

								<tr class="menu__dish menu__dish--soup">
									{var $soup = $menu[dishes][$daysEn[$iterator->counter - 1]][soup]}
									<th>Polévka:</th>
									{if $soup}
									<td>
										{$soup->name|lower}							
									</td>
									<td class="alergeny">
										{var $allergens = ''}
										{foreach $soup->related('relation_dish_allergen') as $dishAllergen}
											{var $allergens = $allergens . $dishAllergen->allergen->id . ((!$iterator->isLast()) ? ', ' : '')}
										{/foreach}
										{$allergens}
									</td>
									{else}
									<td colspan="2">
										Nevaří se
									</td>
									{/if}
								</tr>

								<tr class="menu__dish menu__dish--main">
									{var $main = $menu[dishes][$daysEn[$iterator->counter - 1]][main]}
									<th>Hlavní chod{if $settings[has_two_main_dishes]} 1{/if}:</th>
									{if $main}
									<td>
										{$main->name|lower}							
									</td>
									<td class="alergeny">
										{var $allergens = ''}
										{foreach $main->related('relation_dish_allergen') as $dishAllergen}
											{var $allergens = $allergens . $dishAllergen->allergen->id . ((!$iterator->isLast()) ? ', ' : '')}
										{/foreach}
										{$allergens}
									</td>
									{else}
									<td colspan="2">
										Nevaří se
									</td>
									{/if}
								</tr>

								<!-- If two main dishes -->
								{if $settings[has_two_main_dishes]}
									<tr class="menu__dish menu__dish--main2">
										{var $main2 = $menu[dishes][$daysEn[$iterator->counter - 1]][main2]}
										<th>Hlavní chod 2:</th>
										{if $main2}
										<td>
											{$main2->name|lower}							
										</td>
										<td class="alergeny">
											{var $allergens = ''}
											{foreach $main2->related('relation_dish_allergen') as $dishAllergen}
												{var $allergens = $allergens . $dishAllergen->allergen->id . ((!$iterator->isLast()) ? ', ' : '')}
											{/foreach}
											{$allergens}
										</td>
										{else}
										<td colspan="2">
											Nevaří se
										</td>
										{/if}
									</tr>
								{/if}

								{if $ageGroup == 2 || $ageGroup == 3 || $ageGroup == 4}
									<tr class="menu__dish menu__dish--additions">						
										<th>Přídavek:</th>

										{var $additions = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['additions']}
										{if $additions}
										<td>
											{foreach $additions as $add}
												{$add->name|lower}{if !$iterator->isLast()},{/if}
											{/foreach}			
										</td>
										<td class="alergeny">
											{var $allergens = []}
											{foreach $additions as $add}
												{foreach $add->related('relation_dish_allergen') as $dishAllergen}
													{var $allergens[] = $dishAllergen->allergen->id}
												{/foreach}
											{/foreach}
											{var $allergensUnique = array_unique($allergens)}
											{foreach $allergensUnique as $a}
												{$a}{if !$iterator->isLast()},{/if}
											{/foreach}
										</td>
										{else}
										<td colspan="2">
											Nevaří se
										</td>
										{/if}
									</tr>
								{/if}

								{if $ageGroup != 5}
									<tr class="menu__dish menu__dish--drinks">
										<th>Nápoje:</th>

										{var $drinks = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['drinks']}
										{if $drinks}
										<td>
											{foreach $drinks as $dr}
												{$dr->name|lower}{if !$iterator->isLast()},{/if}
											{/foreach}								
										</td>
										<td class="alergeny">
											{var $allergens = []}
											{foreach $drinks as $dr}
												{foreach $dr->related('relation_dish_allergen') as $dishAllergen}
													{var $allergens[] = $dishAllergen->allergen->id}
												{/foreach}
											{/foreach}
											{var $allergensUnique = array_unique($allergens)}
											{foreach $allergensUnique as $a}
												{$a}{if !$iterator->isLast()},{/if}
											{/foreach}
										</td>
										{else}
										<td colspan="2">
											Nevaří se
										</td>
										{/if}
									</tr>
								{/if}

								{if $ageGroup == 1}
									<tr class="menu__dish menu__dish--snack2">					
										<th>Svačina:</th>

										{var $snacks2 = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['snacks2']}
										{if $snacks2}
										<td>
											{foreach $snacks2 as $sn2}
												{$sn2->name|lower}{if !$iterator->isLast()},{/if}
											{/foreach}			
										</td>
										<td class="alergeny">
											{var $allergens = []}
											{foreach $snacks2 as $sn2}
												{foreach $sn2->related('relation_dish_allergen') as $dishAllergen}
													{var $allergens[] = $dishAllergen->allergen->id}
												{/foreach}
											{/foreach}
											{var $allergensUnique = array_unique($allergens)}
											{foreach $allergensUnique as $a}
												{$a}{if !$iterator->isLast()},{/if}
											{/foreach}
										</td>
										{else}
										<td colspan="2">
											Nevaří se
										</td>
										{/if}
									</tr>
								{/if}

							{/if}
						</tbody>
					</table>
				{/foreach}
			</div>
		{else}
			<div class="text-center mt-5">
				<p class="text-primary">Bohužel žádný jídelníček pro tento týden neexistuje</p>
			</div>
		{/if}

	</div>