{block description}Description{/block}
{block bodyClass}homepage-front page--front{/block}
{block head}
	<style>
	</style>
{/block}

{block scriptsFooter}
	<script n:syntax="off">
	</script>
{/block}

{block main}

	<div class="container">

		{*
		<div class="d-flex mb-3 mb-xl-0">
			<a class="action action--previous text-nowrap" n:href="Homepage:previous">
				<i class="fa fa-arrow-left mr-2" aria-hidden="true"></i> Minulý jídelníček
			</a>
		</div>
		*}

		<h1 class="text-center mb-3"><a href="{$settings[school_url]}" target="_blank">{$settings[school_name]}</a></h1>
		<h2 class="text-center">Aktuální jídelníčky pro veřejnost</h2>

		{if $id}
		<div class="row justify-content-center mt-5 mb-5">
    
			{if in_array(1, $ageGroups) && !$isMenuGroup1Empty}
			<div class="col-sm-6 col-lg-3">
				<a n:href="Homepage:detail1" class="card text-center">
					<div class="card-img-top p-3 pt-5">
						<i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
					</div>
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="h4">Mateřská škola</p>
					</div>
				</a>
			</div>
			{/if}
	
			{if (in_array(2, $ageGroups) && !$isMenuGroup2Empty) || (in_array(3, $ageGroups) && !$isMenuGroup3Empty)}
				<div class="col-sm-6 col-lg-3">
					<a n:href="Homepage:detail23" class="card text-center">
						<div class="card-img-top p-3 pt-5">
							<i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
						</div>
						<div class="card-body">
							<h5 class="card-title"></h5>
							<p class="h4">Základní škola</p>
						</div>
					</a>
				</div>
			{/if}
	
			{if in_array(4, $ageGroups) && !$isMenuGroup4Empty}
			<div class="col-sm-6 col-lg-3">
				<a n:href="Homepage:detail4" class="card text-center">
					<div class="card-img-top p-3 pt-5">
						<i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
					</div>
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="h4">Střední škola</p>
					</div>
				</a>
			</div>
			{/if}
	
			{if in_array(5, $ageGroups) && !$isMenuGroup5Empty}
			<div class="col-sm-6 col-lg-3">
				<a n:href="Homepage:detail5" class="card text-center">
					<div class="card-img-top p-3 pt-5">
						<i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
					</div>
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="h4">Cizí strávníci</p>
					</div>
				</a>
			</div>
			{/if}
	
		</div>
		{else}
		<div class="text-center mt-5">
			<p class="text-primary">Bohužel žádný jídelníček pro tento týden není aktivní</p>
		</div>
		{/if}

	</div>

{/block}