
{block description}Description{/block}
{block bodyClass}archiv{/block}

{block stylesLibsHeader}
  
  <!-- https://mottie.github.io/tablesorter/docs/#Introduction -->
  <link rel="stylesheet" media="screen" href="{$basePath}/styles/libs/jquery.tablesorter.theme.bootstrap_4.min.css">
  <link rel="stylesheet" media="screen" href="{$basePath}/styles/libs/jquery.tablesorter.pager.min.css">

{/block}

{block main}
<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item active" aria-current="page">Archiv</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 n:block="title" class="h1">Archiv jídelníčků</h1>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

  {if $menus}
  <div class="table-responsive">
    <table class="table table--menus tablesorter">
      <thead>
        <tr>
          <th class="filter-select filter-exact" scope="col">Rok</th>
          <th scope="col">Týden</th>
          <th scope="col">Datum</th>
          <th class="filter-select filter-exact text-center" scope="col">Aktivní</th>
          <th class="td--actions sorter-false filter-false text-left" scope="col">Akce</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">Rok</th>
          <th scope="col">Týden</th>
          <th scope="col">Datum</th>
          <th class="text-center" scope="col">Aktivní</th>
          <th class="td--actions text-left" scope="col">Akce</th>
        </tr>
        <tr>
          <th colspan="5" class="ts-pager">
            <div class="form-inline">
              <div class="btn-group btn-group-sm mx-1" role="group">
                <button type="button" class="btn btn-primary first" title="První">⇤</button>
                <button type="button" class="btn btn-primary prev" title="Předchozí">←</button>
              </div>
              <span class="pagedisplay"></span>
              <div class="btn-group btn-group-sm mx-1" role="group">
                <button type="button" class="btn btn-primary next" title="Další">→</button>
                <button type="button" class="btn btn-primary last" title="Poslední">⇥</button>
              </div>
              <select class="form-control-sm custom-select px-1 pagesize" title="Vyberte počet jídel na stránku">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="all">Všechny výsledky</option>
              </select>
              <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Vyberte stránku"></select>
            </div>
          </th>
        </tr>
      </tfoot>
      <tbody>
        {foreach $menus as $m}
        {if $actualMenu[week] && $actualMenu[week]->id == $m->id}
          <tr class="active">
        {else}
          <tr>
        {/if}
          <td scope="col">
            <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
              {$m->year}
            </a>
          </td>
          <td scope="col">
            <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
              {$m->number}
            </a>
          </td>

          {var $relDays = $m->related('relation_menu_day_menu_week')->fetchAll()}
          {var $monday = $relDays[(array_key_first($relDays))]->ref('menu_day')}
          {var $friday = $relDays[(array_key_last($relDays))]->ref('menu_day')}
          <td class="text-nowrap" scope="col">
            <a class="" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
              {$monday->date|date:'j. n. Y'} - {$friday->date|date:'j. n. Y'}
            </a>
          </td>

          <td class="text-center" scope="col">
            {if $actualMenu[week] && $actualMenu[week]->id == $m->id}
              Ano
            {else}
              Ne
            {/if}
          </td>
          <td class="td--actions text-nowrap text-left" scope="col">
  
            <!-- Show -->
            <a class="action action--show text-nowrap" n:href="Archiv:detailMenu $m->id" title="Detail jídelníčku">
              <i class="fa fa-eye mr-2" aria-hidden="true"></i>
            </a>
            
            <!-- PDF -->
            <a class="action action--pdf text-nowrap" n:href="Archiv:pdfMenu $m->id, 0" title="Ulož jako PDF">
              <i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>
            </a>
  
            <!-- Print -->
            <a class="action action--print text-nowrap" n:href="Archiv:pdfMenu $m->id, 1" title="Tisk">
              <i class="fa fa-print mr-2" aria-hidden="true"></i>
            </a>

            <!-- Change background image / customization -->
            <a class="action action--picture text-nowrap" n:href="Archiv:editBackground $m->id" title="Úprava obrázku na pozadí">
              <i class="fa fa-picture-o mr-2" aria-hidden="true"></i>
            </a>

            <!-- Edit -->
            {*
            {if !$actualMenu[week] || $actualMenu[week]->id < $m->id}
            *}
            <a class="action action--edit text-nowrap" n:href="Archiv:editMenu $m->id" title="Editovat">
              <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
            </a>
            {*
            {/if}
            *}

            
            {if !$actualMenu[week] || $actualMenu[week]->build_set < $m->build_set}
            <!-- Delete -->
            <a class="action action--removeMenu text-nowrap" n:href="Archiv:delete $m->id" title="Smazat">
              <i class="fa fa-trash mr-2" aria-hidden="true"></i>
            </a>
            {/if}
  
          </td>
        </tr>
        {/foreach}
      </tbody>
  
    </table>
  </div>
  {else}
    <p class="text-center mt-5">
      Zatím nebyly žádné jídelníčky sestaveny
    </p>

    <div class="text-center">
      <a n:href="SestaveniJidelnicku:" class="btn btn-primary">Sestavit první jídelníček</a>
    </div>
  {/if}

</div>

{/block}


{block scriptsLibsFooter}

  <!-- https://mottie.github.io/tablesorter/docs/#Introduction -->
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.min.js"></script>
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.widgets.min.js"></script>
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.pager.min.js"></script>

{/block}

{block scriptsFooter}
<script n:syntax="off">
  $(function() {
    $(".tablesorter").tablesorter({
      theme : "bootstrap",
      // sortForce: [[0,1], [1, 1]],
      widthFixed: true,

      // widget code contained in the jquery.tablesorter.widgets.js file
      // use the zebra stripe widget if you plan on hiding any rows (filter widget)
      // the uitheme widget is NOT REQUIRED!
      widgets : [ "filter", "columns", "zebra"],

      widgetOptions : {
        // using the default zebra striping class name, so it actually isn't included in the theme variable above
        // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
        zebra : ["even", "odd"],

        // class names added to columns when sorted
        // columns: [ "primary", "secondary", "tertiary" ],

        // reset filters button
        filter_reset : ".reset",

        // extra css class name (string or array) added to the filter element (input or select)
        filter_cssFilter: [
          'form-control',
          'form-control',
          'form-control',
          'form-control',
          'form-control',
        ]

      }
    })
    .tablesorterPager({

      // target the pager markup - see the HTML block below
      container: $(".ts-pager"),

      // target the pager page select dropdown - choose a page
      cssGoto  : ".pagenum",

      // remove rows from the table to speed up the sort of large tables.
      // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
      removeRows: false,

      // output string - default is '{page}/{totalPages}';
      // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
      output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

    });
  });
</script>
{/block}
