{block description}Description{/block}
{block bodyClass}archiv-detail{/block}
{block head}
	<style>
	</style>
{/block}

{block scriptsFooter}
	<script n:syntax="off">
	</script>
{/block}

{block main}

	<div class="container">

		<div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start align-items-lg-center justify-content-between mb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-transparent p-0 m-0">
					<li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
					<li class="breadcrumb-item"><a n:href="Archiv:">Archiv</a></li>
					<li class="breadcrumb-item active"><a n:href="Archiv:detailMenu $menu['week']->id">Detail jídelníčku {$menu['week']->id}</a></li>

					{if $ageGroup == 1}
						<li class="breadcrumb-item active" aria-current="page">Mateřská škola</li>
					{/if}

					{if $ageGroup == 2 || $ageGroup == 3}
						<li class="breadcrumb-item active" aria-current="page">Základní škola</li>
					{/if}

					{if $ageGroup == 4}
						<li class="breadcrumb-item active" aria-current="page">Střední škola</li>
          {/if}
          
          {if $ageGroup == 5}
            <li class="breadcrumb-item active" aria-current="page">Cizí strávníci</li>
					{/if}
					
				</ol>
			</nav>
			<div>

				<!-- PDF -->
				<a class="action action--pdf text-nowrap mr-3" n:href="PdfGenerator:exportPdf $menu['week']->id, 0, $ageGroup" target="_blank">
					<i class="fa fa-file-pdf-o mr-1" aria-hidden="true"></i> Uložit jako PDF
				</a>

				<!-- Print -->
				<a class="action action--print text-nowrap mr-3" n:href="PdfGenerator:exportPdf $menu['week']->id, 1, $ageGroup" target="_blank">
					<i class="fa fa-print mr-1" aria-hidden="true"></i> Tisk
				</a>

				<!-- Change background image / customization -->
				<a class="action action--picture text-nowrap mr-3" n:href="Archiv:editBackground $menu['week']->id" title="Úprava obrázku na pozadí">
					<i class="fa fa-picture-o mr-2" aria-hidden="true"></i> Změna pozadí
				</a>

				<!-- Edit -->
				{*
				{if $actualMenu[week] && $actualMenu[week]->id < $menu[week]->id}
				*}
				<a class="action action--edit text-nowrap" n:href="SestaveniJidelnicku:edit $menu['week']->id, $ageGroup" target="_blank">
					<i class="fa fa-pencil mr-1" aria-hidden="true"></i> Editovat
				</a>
				{*
				{/if}
				*}

			</div>
		</div>

		<h1 n:block="title" class="text-center">Detail jídelníčku</h1>
		{if $ageGroup == 1}
			<h2 class="text-center">Mateřská škola</h2>
		{/if}

		{if $ageGroup == 2 || $ageGroup == 3}
		<h2 class="text-center">Základní škola</h2>
		{/if}

		{if $ageGroup == 4}
		<h2 class="text-center">Střední škola</h2>
		{/if}
		
		{if $ageGroup == 5}
			<h2 class="text-center">Cizí strávníci</h2>
		{/if}

		{if $menu['week']}
		
			{include '../components/menu.latte'}

		{else}
			<div class="text-center mt-5">
				<p class="text-primary">Bohužel žádný jídelníček pro tento týden neexistuje</p>
			</div>
		{/if}

		<div class="text-center">
			<a class="btn btn-primary" n:href="Archiv:detailMenu $menu['week']->id">Zpět na výběr jídelníčku</a>
		</div>

	</div>

{/block}