
{block description}Description{/block}
{block bodyClass}detail-menu{/block}

{block main}

<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item"><a n:href="Archiv:">Archiv</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail jídelníčku {$id}</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 n:block="title" class="h1">Detail jídelníčku</h1>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

  <div class="row justify-content-center">
    
    {if in_array(1, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <a n:href="Archiv:detail $id, 1" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4">Mateřská škola</p>
        </div>
      </a>
    </div>
    {/if}

    {if in_array(2, $ageGroups) || in_array(3, $ageGroups)}
      
      {var $ageGroupNumber = 2}
      {if in_array(3, $ageGroups)}
        {var $ageGroupNumber = 3}
      {/if}

      <div class="col-sm-6 col-lg-3">
				<a n:href="Archiv:detail $id, $ageGroupNumber" class="card text-center">
					<div class="card-img-top p-3 pt-5">
						<i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
					</div>
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="h4">Základní škola</p>
					</div>
				</a>
			</div>
    {/if}

    {if in_array(4, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <a n:href="Archiv:detail $id, 4" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4">Střední škola</p>
        </div>
      </a>
    </div>
    {/if}

    {if in_array(5, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <a n:href="Archiv:detail $id, 5" class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-list-alt fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4">Cizí strávníci</p>
        </div>
      </a>
    </div>
    {/if}

	</div>
	
	<div class="text-center mt-5">
    <a class="btn btn-primary" n:href="Archiv:">Zpět na výpis</a>
	</div>
	
</div>