{block description}Description{/block}
{block bodyClass}archiv-edit-background{/block}
{block head}
	<style>
	</style>
{/block}

{block scriptsFooter}
	<script n:syntax="off">
	</script>
{/block}

{block main}

	<div class="container">

		<div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-between mb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-transparent p-0 m-0">
					<li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
					<li class="breadcrumb-item"><a n:href="Archiv:">Archiv</a></li>
					<li class="breadcrumb-item active" aria-current="page">Úprava pozadí jídelníčku {$id}</li>
				</ol>
			</nav>
		</div>

		{if $id}

			<div class="row">
				<div class="col-lg-6 col-xl-4">

					<h2 n:block="title" class="">Pozadí jídelníčku</h2>

					{form backgroundForm}
						<div class="form-group">
							{label background /}
							{input background}
						</div>

						<div class="form-group">
							{label upload /}
							{input upload}
						</div>

						<div class="d-flex align-items-center">
							<a n:href="Archiv:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
							{input submit}
						</div>
					{/form}

				</div>
				<div class="col-lg-6 col-xl-8 justify-content-center d-none d-sm-flex">
					
					<div id="preview" class="preview mt-5 mt-lg-0">

						<h2 class="h2 text-center">Náhled</h2>

						<img src="{$baseUrl}/images/menu-preview.png" alt="" class="preview__menu">

						<!-- Background images -->
						<img class="preview__bg preview__bg--left" data-src="" alt="">
						<img class="preview__bg preview__bg--right" data-src="" alt="">

					</div>
				</div>
			</div>

		{else}
			<h2 class="">Pozadí jídelníčku</h2>
			<div class="text-center mt-5">
				<p class="text-primary">Bohužel žádný jídelníček pro tento týden neexistuje</p>
			</div>
			<div class="text-center">
				<a class="btn btn-primary" n:href="Archiv:">Zpět</a>
			</div>
		{/if}

	</div>

{/block}