.card {

	border-color: rgba(85,103,127,0.1);
	box-shadow: 0px 0px 35px -16px rgba(85,103,127,0.65);
	height: 100%;

	@include media-breakpoint-down(md) {
		margin-bottom: 2rem;
		height: auto;
	}

	&:hover {
		text-decoration: none !important;
		box-shadow: 0px 0px 100px -16px rgba(85,103,127,0.65);
		// background: $primary-color;

		.fa, span {
			color: $primary-color;
		}
	}
}