.generator {

}

// nursery school
.generator--1 {
	.dishRow--additions {
		display: none !important;
	}

	// .dishRow--main2 {
	// 	display: none !important;
	// }
}

// elementary school
.generator--2,
.generator--3 {
	
	.dishRow--snack1 {
		display: none !important;
	}

	.dishRow--snack2 {
		display: none !important;
	}

}

// high school
.generator--4 {
	
	.dishRow--snack1 {
		display: none !important;
	}

	.dishRow--snack2 {
		display: none !important;
	}

}

// others
.generator--5 {
	
	.dishRow--snack1 {
		display: none !important;
	}

	.dishRow--snack2 {
		display: none !important;
	}

	.dishRow--additions {
		display: none !important;
	}

	.dishRow--drinks {
		display: none !important;
	}

}

.generator__checker {

	min-width: 650px;

	padding: 1rem;
	border: 1px solid $text-color;

	border-color: rgba(85,103,127,0.1);
	box-shadow: 0px 0px 35px -16px rgba(85,103,127,0.65);

	small {
		font-size: .85rem;
	}

	li {
		font-size: .85rem;
		white-space: nowrap;
	}

	> .d-flex > div {
		flex: 1 !important;
	}

	@include media-breakpoint-down(sm) {
		min-width: auto;
	}
}

.generator__errors {
	&.active {
		li.text-success {
			display: none;
		}
	}
}

.generator__main {

	.dishRow {
		padding: .02rem .5rem .02rem 0 !important; 
	}

	.dishRow.edited {
		background: $secondary-color-light !important;
	}

	.dishUsedError {
		position: relative;
		font-size: .85rem;
		line-height: 1;
		top: rem(-2);
		padding-left: rem(29);

		&:not(.d-none) {
			margin-bottom: rem(5);
		}

		@include media-breakpoint-down(lg) {
			font-size: .65rem;
		}
	}

	.dish {
		max-width: vw(320px);
		
		@include media-breakpoint-down(lg) {
			max-width: rem(200);
		}

		@include media-breakpoint-down(md) {
			max-width: rem(600, 18);
		}

		@include media-breakpoint-down(sm) {
			max-width: rem(500, 14);
		}

		@include media-breakpoint-down(xs) {
			max-width: rem(240, 12);
		}
	}

}