.menu {
	
	// position: relative;
	max-width: rem(800);
	margin: 2rem auto 2rem;

	background: #fff;
	box-shadow: 0px 100px 100px -16px rgba(85,103,127,0.3);

	padding: 0 0 1rem;
	z-index: 1;

	@include media-breakpoint-down(md) {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

}

// nursery school
.menu--1 {
	.menu__dish--additions {
		display: none !important;
	}

	// .menu__dish--main2 {
	// 	display: none !important;
	// }
}

// elementary school
.menu--2,
.menu--3 {
	
	.menu__dish--snack1 {
		display: none !important;
	}

	.menu__dish--snack2 {
		display: none !important;
	}

}

// high school
.menu--4 {
	
	.menu__dish--snack1 {
		display: none !important;
	}

	.menu__dish--snack2 {
		display: none !important;
	}

}

// others
.menu--5 {
	
	.menu__dish--snack1 {
		display: none !important;
	}

	.menu__dish--snack2 {
		display: none !important;
	}

	.menu__dish--additions {
		display: none !important;
	}

	.menu__dish--drinks {
		display: none !important;
	}

}

.menu__day {
	width: 100%;
	// &:not(:last-child) {
	// 	margin-bottom: 1rem;
	// }

	thead {
		th {
			background: #f4f4f8;
			color: $primary-color;
			height: rem(50);
		}
	}

	th, td {
		height: rem(35);
		padding: 0;
	}

	thead {
		th {
			padding: 0 1.5rem;
		}
	}

	tbody {

		th, td {
			// background: #fff;
		}

		th {
			padding-left: 1.5rem;
			width: rem(150);
		}

		td {
			position: relative;
			padding-right: rem(50);
		}
	}

	.fa {
		color: $primary-color;
	}

	@include media-breakpoint-down(xs) {
		table, thead, tbody, tr, td, th {
			width: 100%;
			display: block;
			height: auto !important;
		}

		thead th {
			width: 100%;
			display: flex;
			align-items: center;
			padding: .5rem 1rem;
			margin-top: 1rem;
		}

		tbody {
			th {
				padding: .5rem 1rem 0rem;
			}

			td {
				padding: 0rem 4rem 0rem 1rem;
			}

			.menu__dish--snack1,
			.menu__dish--snack2,
			.menu__dish--additions,
			.menu__dish--drinks {
				td {
					padding-right: 1rem;
				}
			}
		}

	}
}

.menu__like {
	display: block;
	position: absolute;
	width: rem(35);
	height: rem(35);

	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	
	.fa {
		position: absolute;
		font-size: 1.25rem;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

	.fa-heart {
		opacity: 0;
	}

	&.active {
		.fa-heart {
			opacity: 1
		}
	}

	@include media-breakpoint-down(xs) {
		top: .9rem;
	}
}

.menu__bg {
	position: absolute;
	
	z-index: -1;

	width: vw(450px);
	height: vw(450px);

	// background: red;

	img {
		width: 100%;
		height: auto;
	}

	@include media-breakpoint-down(xl) {
		width: vw(225px, 1366px);
		height: vw(225px, 1366px);
	}

	@include media-breakpoint-down(lg) {
		width: vw(225px, 1024px);
		height: vw(225px, 1024px);
	}

	@include media-breakpoint-down(md) {
		width: 225px;
		height: 225px;
	}
}

.menu__bg--left {
	top: rem(200);
	left: 3rem;
	transform: scaleX(-1);

	@include media-breakpoint-down(xl) {
		left: 1rem;
	}

	@include media-breakpoint-down(lg) {
		display: none;
	}
}

.menu__bg--right {
	bottom: 9rem;
	right: 3rem;

	@include media-breakpoint-down(xl) {
		right: 1rem;
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		margin: 2rem auto 3rem;
		top: 0;
		left: 0;
	}
}