.preview {
	position: relative;
	width: rem(600);
	height: rem(480);
}

.preview__menu {
	position: absolute;
	width: rem(280);
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	box-shadow: 0px 100px 100px -16px rgba(85,103,127,0.3);
}

.preview__bg {
	position: absolute;
	z-index: 1;

	width: rem(140);
	height: auto;
}

.preview__bg--left {
	top: 2rem;
	transform: scaleX(-1);
	left: 0;
}

.preview__bg--right {
	bottom: 4rem;
	right: 0;
}

