<footer class="footer" role="contentinfo">

  <div class="container text-center">

    <div class="row align-items-center">
      <div class="col-lg-4 order-0">
        <a href="tel:{$settings[phone]|replace:' ':''}">
          <i class="fa fa-phone mr-1"></i>
          <small>{$settings[phone]}</small>
        </a>
      </div>

      <div class="col-lg-4 mt-3 mt-lg-0 order-3 order-lg-1">
        <p class="mb-0"><small><strong>Vedoucí jídelny:</strong> {$settings[supervisor]}</small></p>
        {if $settings[cookers]}
        <p class=""><small><strong>Kuchařky:</strong> {$settings[cookers]}</small></p>
        {/if}
        <p class="mt-2 mb-3"><small>Změna jídelníčku vyhrazena.<br>Strava je&nbsp;určena k&nbsp;okamžité spotřebě.</small></p>
        <p class="mb-0">
          <a href="{$baseUrl}/files/alergeny.pdf" target="_blank">
            <i class="fa fa-external-link mr-1"></i>
            <small>Seznam alergenů</small>
          </a>

          <div class="mt-3 mb-3 d-none">
            <a href="{$settings[school_url]}" target="_blank"><small>Web {$settings[school_name]}</small></a>
          </div>

          <div n:if="$user->isLoggedIn()" class="mt-3">
            <a n:href=":Admin:Homepage:">
              <i class="fa fa-lock mr-1"></i>
              <small>Administrace</small>
            </a>
            <br>
            <a n:href=":Admin:Sign:out">
              <i class="fa fa-sign-out mr-1"></i>
              <small>Odhlásit se</small>
            </a>
          </div>
        </p>
      </div>

      <div class="col-lg-4 order-2">
        <a href="tel:{$settings[email]}">
          <i class="fa fa-envelope mr-1"></i>
          <small>{$settings[email]}</small>
        </a>
      </div>
    </div>

  </div>

</footer>