<header id="header" class="header">

  <div class="header__inner">

    <!-- Navigation -->
    <nav class="header__nav nav" role="navigation" aria-label="Hlavní navigace">

    </nav>
  </div>

</header>
