<div class="d-flex flex-column flex-xl-row justify-content-between mb-3">

	<div class="d-flex flex-column align-items-between justify-content-between">
		<div class="mb-3">
			<h1 n:block="title" class="h1 mb-0s">Sestavení jídelníčku</h1>
			<span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}, týden: {$week}</span>
		</div>
		<div class="generator__buttons">
			<a n:href="SestaveniJidelnicku:menuBuilder $ageGroup" class="btn btn-primary mr-3 mb-3 mb-sm-0">Vygenerovat automaticky</a>
			<a id="" href="#" class="btn btn-secondary gSave">Uložit sestavený jídelníček</a>
		</div>
	</div>

	<div class="mt-5 mt-xl-0">
		Nedostatky jídelníčku:
		<div id="checker" class="generator__checker" data-agegroup="{$ageGroup}">
			
			<div class="d-flex flex-column flex-lg-row">
				
				{if $ageGroup < 5}
				<div class="generator__checker-basket mb-3 mb-lg-0 mr-0 mr-lg-3">

					<strong class="text-nowrap">Spotřební koš:</strong>
					
					<div class="generator__checker-type" data-type-id="2">
						<strong><small>Polévky:</small></strong>
						<div class="generator__errors">
							<ul class="mb-0 pl-3">
								{foreach $recommedBasketForSoup as $s}
									<li class="recommendations text-lg-nowrap text-danger" data-id="{$s->id}" data-name="{$s->translation}" data-value="{$s->value}" data-restriction="{$s->restriction}" data-type="Polévka">{$s->name} - <span class="actualValue">{$menuArray[basket][soups][$s->translation]}</span> g, cíl - {$s->restriction} {$s->value} g</li>
								{/foreach}
								<li class="text-lg-nowrap text-success">Žádné chyby</li>
							</ul>
						</div>
					</div>

					<div class="generator__checker-type" data-type-id="1">
						<strong><small>Hlavní chod:</small></strong>
						<div class="generator__errors">
							<ul class="mb-0 pl-3">
								{foreach $recommedBasketForMainDish as $m}
									<li class="recommendations text-lg-nowrap text-danger" data-id="{$m->id}" data-name="{$m->translation}" data-value="{if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}" data-restriction="{$m->restriction}" data-type="Hlavní chod">{$m->name} - <span class="actualValue">{$menuArray[basket][mains][$m->translation]}</span> g, cíl - {$m->restriction} {if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if} g</li>
								{/foreach}
								<li class="text-lg-nowrap text-success">Žádné chyby</li>
							</ul>
						</div>
					</div>

				</div>
				{/if}

				<div class="generator__checker-nutri mb-3 mb-lg-0 mr-0 mr-lg-3">

					<strong class="text-nowrap">Nutriční doporučení:</strong>
					
					<div class="generator__checker-type" data-type-id="2">
						<strong><small>Polévky:</small></strong>
						<div class="generator__errors">
							<ul class="mb-0 pl-3">
								{foreach $recommedNutriForSoup as $s}
									<li class="recommendations text-lg-nowrap text-danger" data-id="{$s->id}" data-category-name="{$s->category->name}" data-category-id="{$s->category->id}" data-value="{$s->value}" data-restriction="{$s->restriction}" data-type="Polévka">{$s->category->name} - <span class="actualValue">{$menuArray[nutri][soups][$s->category->id]}</span>x, cíl - {$s->value}x</li>
								{/foreach}
								<li class="text-lg-nowrap text-success">Žádné chyby</li>
							</ul>
						</div>
					</div>

					<div class="generator__checker-type" data-type-id="1">
						<strong><small>Hlavní chod:</small></strong>
						<div class="generator__errors">
							<ul class="mb-0 pl-3">
								{foreach $recommedNutriForMainDish as $m}
									<li class="recommendations text-lg-nowrap text-danger" data-id="{$m->id}" data-category-name="{$m->category->name}" data-category-id="{$m->category->id}" data-value="{if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}" data-restriction="{$m->restriction}" data-type="Hlavní chod">{$m->category->name} - <span class="actualValue">{$menuArray[nutri][mains][$m->category->id]}</span>x, cíl - {if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}x</li>
								{/foreach}
								<li class="text-lg-nowrap text-success">Žádné chyby</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>