<div class="generator__main">
	<div class="table-responsive">
		{include './_table-desktop.latte'}
		{include './_table-mobile.latte'}
	</div>

	<div class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
		<a n:href="SestaveniJidelnicku:menuBuilder $ageGroup" class="btn btn-primary mr-0 mr-sm-3 mb-3 mb-sm-0">Vygenerovat automaticky</a>
		<a id="" href="#" class="btn btn-secondary gSave">Uložit sestavený jídelníček</a>
	</div>

</div>