<!-- Modal -->
<div class="modal fade" id="modalSnack1" tabindex="-1" role="dialog" aria-labelledby="modalSnack1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSnack1">Vyber přesnídávky ze seznamu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
				<select class="dishes dishes--additions select2el" name="additions[]" multiple="multiple">
          {var $type = ''}
          {var $category = ''}
          {var $newCategory = ''}
          {foreach $listOfAdditions as $i}
            {var $newType = $i->type->name}
            
            {if $newType == 'Ostatní'}
              {var $newCategory = $i->category->name}
              {if $category != $newCategory}
                {if !$iterator->first}
                </optgroup>
                {/if}
                <optgroup label="{$newCategory}">
                  <option value="{$i->id}" data-type="{$newCategory}">{$i->name}</option>
              {else}
                  <option value="{$i->id}" data-type="{$newCategory}">{$i->name}</option>
              {/if}
            {else}
              {if $type != $newType}
                {if !$iterator->first}
                </optgroup>
                {/if}
                <optgroup label="{$newType}">
                  <option value="{$i->id}" data-type="{$newType}">{$i->name}</option>
              {else}
                  <option value="{$i->id}" data-type="{$newType}">{$i->name}</option>
              {/if}
            {/if}

            {if $iterator->last}
              </optgroup>
            {/if}

            {var $type = $newType}
            {var $category = $newCategory}

					{/foreach}
				</select>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary modal-close" type="button" data-dismiss="modal">Zavřít</button>
        <button class="btn btn-primary modal-submit" type="button">Vybrat</button>
      </div>
    </div>
  </div>
</div>