<!-- Modal -->
<div class="modal fade" id="modalMain" tabindex="-1" role="dialog" aria-labelledby="modalMainLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMainLabel">Vyber hlavní chod ze seznamu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
				<select class="dishes dishes--main select2el" name="mains">
					{var $category = ''}
          {foreach $listOfMains as $i}
            {var $newCategory = $i->category->name}

            {if $category != $newCategory}
              {if !$iterator->first}
              </optgroup>
              {/if}
              <optgroup label="{$newCategory}">
                <option value="{$i->id}" data-category="{$newCategory}">{$i->name}</option>
            {else}
                <option value="{$i->id}" data-category="{$newCategory}">{$i->name}</option>
            {/if}

            {if $iterator->last}
              </optgroup>
            {/if}

            {var $category = $newCategory}

					{/foreach}
				</select>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary modal-close" type="button" data-dismiss="modal">Zavřít</button>
        <button class="btn btn-primary modal-submit" type="button">Vybrat</button>
      </div>
    </div>
  </div>
</div>