<div class="text-nowrap d-flex align-items-center">
	<b title="Polévka">P:</b> <span class="dish ellipsis ml-1" data-type="soup"></span>
	<button class="editDish" data-type="soup" data-toggle="modal" data-target="#modalSoup"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>
<div class="text-nowrap d-flex align-items-center">
	<b title="Hlavní chod">H:</b> <span class="dish ellipsis ml-1" data-type="main"></span>
	<button class="editDish" data-type="main" data-toggle="modal" data-target="#modalMain"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>
<div class="text-nowrap d-flex align-items-center">
	<b title="Přídavky - ovoce, salát, dezert">Př:</b> <span class="dish ellipsis ml-1" data-type="additions"></span>
	<button class="editDish" data-type="additions" data-toggle="modal" data-target="#modalAddition"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>
<div class="text-nowrap d-flex align-items-center">
	<b title="Nápoje">N:</b> <span class="dish ellipsis ml-1" data-type="drinks"></span>
	<button class="editDish" data-type="drinks" data-toggle="modal" data-target="#modalDrink"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</div>