<div class="table--generator">

	{var $daysEn = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']}
	{var $daysCs = ['Pondělí', 'Úterý', 'Štředa', 'Čtvrtek', 'Pátek']}

	{var $snacks1 = $menuArray[snacks1]}
	{var $soups = $menuArray[soups]}
	{var $mains = $menuArray[mains]}
	{var $mains2 = $menuArray[mains2]}
	{var $additions = $menuArray[additions]}
	{var $drinks = $menuArray[drinks]}
	{var $snacks2 = $menuArray[snacks2]}

	{for $i = 1; $i < 5; $i++}
		<table id="tableGeneratorMobile{$i}" class="table mb-5 d-table d-lg-none {if $editedMenuIndex && $editedMenuIndex == $i}table--edited{/if}">
			<thead class="thead-light">
				<tr>
					<th class="">Týden {$dates[week . $i]['number']}: <br class="d-block d-sm-none"><span class="font-weight-normal">{$dates[week . $i]['monday']|date:'j. n. Y'} -&nbsp;{$dates[week . $i]['friday']|date:'j. n. Y'}</span></th>
				</tr>
			</thead>
			<tbody>

				{foreach $daysEn as $d}
					<tr>
						<th class="text-primary">{$daysCs[$iterator->counter - 1]}</th>
					</tr>
					<tr class="day" data-day="{$d}">
						<td class="week" data-week="week{$i}">
							
							<div class="text-nowrap d-flex align-items-center dishRow dishRow--snack1">

								{var $snacks1Text = ''}
								{if $snacks1}
									{foreach $snacks1[($iterator->counter + (($i - 1) * count($daysEn))) - 1] as $a}
										{var $snacks1Text = $snacks1Text . $a->name}
										{if !$iterator->last}
											{var $snacks1Text = $snacks1Text . ', '}
										{/if}
									{/foreach}
								{/if}

								<b title="Přesnídávka">Sv1:</b> <span class="dish ellipsis ml-1" data-type="snacks1" title="{$snacks1Text}">{$snacks1Text}</span>
								<button class="editDish" data-type="snacks1" data-toggle="modal" data-target="#modalSnack1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							</div>
							<div class="text-nowrap d-flex align-items-center dishRow dishRow--soup">
								<div class="d-flex align-items-center">

									{var $soup}
									{if $soups}
										{var $soup = $soups[($iterator->counter + (($i - 1) * count($daysEn))) - 1]}
									{/if}

									<b title="Polévka">P:</b> <span class="dish ellipsis ml-1" data-type="soup" title="{if $soup}{$soup->name}{/if}">{if $soup}{$soup->name}{/if}</span>
									<button class="editDish" data-type="soup" data-toggle="modal" data-target="#modalSoup"><i class="fa fa-pencil" aria-hidden="true"></i></button>
								</div>
								<small class="dishUsedError d-block text-danger d-none"></small>
							</div>
							<div class="text-nowrap dishRow dishRow--main">
								<div class="d-flex align-items-center">

									{var $main}
									{if $mains}
										{var $main = $mains[($iterator->counter + (($i - 1) * count($daysEn))) - 1]}
									{/if}

									<b title="Hlavní chod">H{if $settings[has_two_main_dishes]}1{/if}:</b> <span class="dish ellipsis ml-1" data-type="main" title="{if $main}{$main->name}{/if}">{if $main}{$main->name}{/if}</span>
									<button class="editDish" data-type="main" data-toggle="modal" data-target="#modalMain"><i class="fa fa-pencil" aria-hidden="true"></i></button>
								</div>
								<small class="dishUsedError d-block text-danger d-none"></small>
							</div>

							<!-- If two main dishes -->
							{if $settings[has_two_main_dishes]}
								<div class="text-nowrap dishRow dishRow--main2">
									<div class="d-flex align-items-center">

										{var $m2}
										{if $menuArray[mains2]}
											{var $m2 = $menuArray[mains2][($iterator->counter + (($i - 1) * count	($daysEn))) - 1]}
										{/if}

										<b title="Hlavní chod 2">H2:</b> <span class="dish ellipsis ml-1" data-type="main2" title="{if $m2}{$m2->name}{/if}">{if $m2}{$m2->name}{/if}</span>
										<button class="editDish" data-type="main2" data-toggle="modal" data-target="#modalMain"><i class="fa fa-pencil" aria-hidden="true"></i></button>
									</div>
									<small class="dishUsedError d-block text-danger d-none"></small>
								</div>
							{/if}

							<div class="text-nowrap d-flex align-items-center dishRow dishRow--additions">

								{var $additionsText = ''}
								{if $additions}
									{foreach $additions[($iterator->counter + (($i - 1) * count($daysEn))) - 1] as $a}
										{var $additionsText = $additionsText . $a->name}
										{if !$iterator->last}
											{var $additionsText = $additionsText . ', '}
										{/if}
									{/foreach}
								{/if}

								<b title="Přídavky - ovoce, salát, dezert">Př:</b> <span class="dish ellipsis ml-1" data-type="additions" title="{$additionsText}">{$additionsText}</span>
								<button class="editDish" data-type="additions" data-toggle="modal" data-target="#modalAddition"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							</div>
							<div class="text-nowrap d-flex align-items-center dishRow dishRow--drinks">

								{var $drinksText = ''}
								{if $drinks}
									{foreach $drinks[($iterator->counter + (($i - 1) * count($daysEn))) - 1] as $a}
										{var $drinksText = $drinksText . $a->name}
										{if !$iterator->last}
											{var $drinksText = $drinksText . ', '}
										{/if}
									{/foreach}
								{/if}

								<b title="Nápoje">N:</b> <span class="dish ellipsis ml-1" data-type="drinks" title="{$drinksText}">{$drinksText}</span>
								<button class="editDish" data-type="drinks" data-toggle="modal" data-target="#modalDrink"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							</div>
							<div class="text-nowrap d-flex align-items-center dishRow dishRow--snack2">

								{var $snacks2Text = ''}
								{if $snacks2}
									{foreach $snacks2[($iterator->counter + (($i - 1) * count($daysEn))) - 1] as $a}
										{var $snacks2Text = $snacks2Text . $a->name}
										{if !$iterator->last}
											{var $snacks2Text = $snacks2Text . ', '}
										{/if}
									{/foreach}
								{/if}

								<b title="Svačina">Sv2:</b> <span class="dish ellipsis ml-1" data-type="snacks2" title="{$snacks2Text}">{$snacks2Text}</span>
								<button class="editDish" data-type="snacks2" data-toggle="modal" data-target="#modalSnack2"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							</div>

						</td>
					</tr>
				{/foreach}

			</tbody>
		</table>
	{/for}

</div>