
{block description}Description{/block}
{block bodyClass}sign-in{/block}

{block main}
<div class="container">
  <h1 n:block="title" class="h1 text-center mb-5">Přihlášení</h1>

  <div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-4">
      {control signInForm}
    </div>
  </div>
</div>
