
{block description}Description{/block}
{block bodyClass}sign-out{/block}

{block main}
<div class="container">
  <h1 n:block="title">Byl jste odhlášen</h1>

  <p class="text-center"><a n:href="in">Znovu přihlásit?</a></p>
  <p class="text-center back"><a n:href=":Front:Homepage:"><span class="glyphicon glyphicon-home"></span> Zpět na Homepage?</a></p>
</div>
