
{block description}Description{/block}
{block bodyClass}recepty{/block}

{block stylesLibsHeader}
  
  <!-- https://mottie.github.io/tablesorter/docs/#Introduction -->
  <link rel="stylesheet" media="screen" href="{$basePath}/styles/libs/jquery.tablesorter.theme.bootstrap_4.min.css">
  <link rel="stylesheet" media="screen" href="{$basePath}/styles/libs/jquery.tablesorter.pager.min.css">

{/block}

{block main}
<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item active" aria-current="page">Recepty</li>
      </ol>
    </nav>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

  <div class="d-flex align-items-center justify-content-between mb-3">
		<h1 n:block="title" class="h1 mb-0 mr-3">Seznam receptů</h1>
    
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Přidat
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" n:href="Recepty:pridatHlavniChod">Hlavní chod</a>
        <a class="dropdown-item" n:href="Recepty:pridatPolevku">Polévka</a>
        <a class="dropdown-item" n:href="Recepty:pridatNapoj">Nápoj</a>
        <a class="dropdown-item" n:href="Recepty:pridatSalat">Salát</a>
        <a class="dropdown-item" n:href="Recepty:pridatMoucnikDezert">Moučník/dezert</a>
        <a class="dropdown-item" n:href="Recepty:pridatOstatni">Ostatní</a>
      </div>
    </div>
    
	</div>

  <div class="table-responsive">
    <table class="table table--recipes mt-5 tablesorter">
      <thead class="thead-light">
        <tr>
          <th scope="col">Název</th>
          <th class="filter-select filter-exact" scope="col" data-placeholder="Vyberte">Typ</th>
          <th class="filter-select filter-exact" scope="col" data-placeholder="Vyberte">Kategorie</th>
          <th class="filter-select filter-exact" scope="col" data-placeholder="Vyberte">Příloha</th>
          <th class="text-center filter-false" scope="col">Oblíbenost</th>
          <th class="text-center filter-false" scope="col">Četnost<br>použití</th>
          <th class="text-center filter-false" scope="col">Naposledy<br>použito</th>
          <th class="text-center sorter-false filter-false" scope="col">Aktivní</th>
          <th class="text-center sorter-false filter-false" scope="col">Akce</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">Název</th>
          <th class="" scope="col">Typ</th>
          <th class="" scope="col">Kategorie</th>
          <th class="" scope="col">Příloha</th>
          <th class="text-center" scope="col">Oblíbenost</th>
          <th class="text-center" scope="col">Četnost<br>použití</th>
          <th class="text-center" scope="col">Naposledy<br>použito</th>
          <th class="text-center" scope="col">Aktivní</th>
          <th class="text-center" scope="col">Akce</th>
        </tr>
        <tr>
          <th colspan="9" class="ts-pager">
            <div class="form-inline">
              <div class="btn-group btn-group-sm mx-1" role="group">
                <button type="button" class="btn btn-primary first" title="První">⇤</button>
                <button type="button" class="btn btn-primary prev" title="Předchozí">←</button>
              </div>
              <span class="pagedisplay"></span>
              <div class="btn-group btn-group-sm mx-1" role="group">
                <button type="button" class="btn btn-primary next" title="Další">→</button>
                <button type="button" class="btn btn-primary last" title="Poslední">⇥</button>
              </div>
              <select class="form-control-sm custom-select px-1 pagesize" title="Vyberte počet jídel na stránku">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="all">Všechny výsledky</option>
              </select>
              <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Vyberte stránku"></select>
            </div>
          </th>
        </tr>
      </tfoot>
      <tbody>
        {foreach $dishes as $dish}
        <tr>
          <th scope="row"><a class="" n:href="Recepty:edit $dish->id" title="Upravit {$dish->name}"><strong>{$dish->name}</strong></a></th>
          <td class="">{$dish->type->name}</td>
          <td class="td--category" title="{if $dish->category}{$dish->category->name}{/if}">{if $dish->category}<span class="ellipsis">{$dish->category->name}</span>{/if}</td>
          <td class="td--side" title="{if $dish->side}{$dish->side->name}{/if}">{if $dish->side}<span class="ellipsis">{$dish->side->name}</span>{/if}</td>
          <td class="text-center">{$dish->likes}</td>
          <td class="text-center">{$dish->frequency}</td>
          <td class="text-center text-nowrap">
            {if $dish->last_used_at}
              {$dish->last_used_at|date:'j. n. Y'}
            {else}
              Nikdy
            {/if}
          </td>
          <td class="text-center td--toggle">
            {if $dish->enabled}
              <input type="checkbox" checked data-toggle="toggle" data-width="35" data-height="25" data-on="Ano" data-off="Ne" data-dish-id="{$dish->id}">
            {else}
              <input type="checkbox" data-toggle="toggle" data-width="35" data-height="25" data-on="Ano" data-off="Ne" data-dish-id="{$dish->id}">
            {/if}
          </td>
          <td class="td--actions text-center text-nowrap">
            <a class="action action--editDish" n:href="Recepty:edit $dish->id" title="Upravit">
              <i class="fa fa-pencil mr-1" aria-hidden="true"></i>
            </a>
            <a class="action action--remove action--removeDish" n:href="Recepty:delete $dish->id" title="Smazat">
              <i class="fa fa-trash mr-1" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  </div>

</div>
{/block}

{block scriptsLibsFooter}

  <!-- https://mottie.github.io/tablesorter/docs/#Introduction -->
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.min.js"></script>
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.widgets.min.js"></script>
  <script src="{$basePath}/scripts/libs/jquery.tablesorter.pager.min.js"></script>

{/block}

{block scriptsFooter}
<script n:syntax="off">
  $(function() {
    $(".tablesorter").tablesorter({
      theme : "bootstrap",

      widthFixed: true,

      // widget code contained in the jquery.tablesorter.widgets.js file
      // use the zebra stripe widget if you plan on hiding any rows (filter widget)
      // the uitheme widget is NOT REQUIRED!
      widgets : [ "filter", "columns", 'zebra'],

      widgetOptions : {
        // using the default zebra striping class name, so it actually isn't included in the theme variable above
        // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
        zebra : ["even", "odd"],

        // class names added to columns when sorted
        // columns: [ "primary", "secondary", "tertiary" ],

        // reset filters button
        filter_reset : ".reset",

        // extra css class name (string or array) added to the filter element (input or select)
        filter_cssFilter: [
          'form-control',
          'form-control',
          'form-control', // select needs custom class names :(
          'form-control',
          'form-control',
          'form-control',
          'form-control',
          'form-control',
          'form-control',
        ]

      }
    })
    .tablesorterPager({

      // target the pager markup - see the HTML block below
      container: $(".ts-pager"),

      // target the pager page select dropdown - choose a page
      cssGoto  : ".pagenum",

      // remove rows from the table to speed up the sort of large tables.
      // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
      removeRows: false,

      // output string - default is '{page}/{totalPages}';
      // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
      output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

    });
  });
</script>
{/block}