
{block description}Description{/block}
{block bodyClass}recepty{/block}

{block main}
<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item"><a n:href="Recepty:">Recepty</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editace</li>
      </ol>
    </nav>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

	<div class="d-block d-sm-flex align-items-center justify-content-start mb-3">
		<h1 n:block="title" class="h1 mb-0 mr-3">Editace</h1>
		<a href="{$settings[cookbook_url]}" target="_blank">Online kuchařka</a>
	</div>
	
  <ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link {if $type == 'Hlavní chod'}active{/if}" n:href="Recepty:pridatHlavniChod">Hlavní chod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {if $type == 'Polévka'}active{/if}" n:href="Recepty:pridatPolevku">Polévka</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {if $type == 'Nápoj'}active{/if}" n:href="Recepty:pridatNapoj">Nápoj</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {if $type == 'Salát'}active{/if}" n:href="Recepty:pridatSalat">Salát</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {if $type == 'Moučník/dezert'}active{/if}" n:href="Recepty:pridatMoucnikDezert">Moučník/dezert</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {if $type == 'Ostatní'}active{/if}" n:href="Recepty:pridatOstatni">Ostatní</a>
		</li>
	</ul>

	{switch $type}
		{case 'Hlavní chod'}
		
			{form mainDishForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Hlavní chod</h2>

						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							{label category_id /}
							{input category_id}
						</div>

						<div class="form-group">
							{label side_id /}
							{input side_id}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
					<div class="col-lg-6 col-xl-5">
						{include './includes/basket.latte'}
					</div>
				</div>
				
				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}
			
		{case 'Polévka'}
			
			{form soupForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Polévka</h2>

						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							{label category_id /}
							{input category_id}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
					<div class="col-lg-6 col-xl-5">
						{include './includes/basket.latte'}
					</div>
				</div>
				
				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}

		{case 'Nápoj'}
		
			{form drinkForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Nápoj</h2>
						
						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							{label category_id /}
							{input category_id}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
				</div>

				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}

		{case 'Salát'}

			{form saladForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Salát</h2>
						
						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
				</div>

				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}

		{case 'Moučník/dezert'}

			{form dessertForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Moučník/dezert</h2>
						
						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
				</div>

				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}
		
		{case 'Ostatní'}

			{form othersForm}
				<div class="row">
					<div class="col-lg-6 col-xl-7">
						<h2 class="h2 mt-3">Ostatní položka</h2>
						
						<div class="form-group">
							{label name /}
							{input name}
						</div>

						<div class="form-group">
							{label recipe /}
							{input recipe}
						</div>

						<div class="form-group">
							{label category_id /}
							{input category_id}
						</div>

						<div class="form-group">
							<div class="d-flex align-items-center justify-content-start">
								{label allergens class => 'mb-0' /}
								<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
							</div>
							{input allergens}
						</div>

					</div>
				</div>

				<div class="d-flex align-items-center">
					<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
					{input submit}
				</div>

			{/form}

		{default}

		{form mainDishForm}
			<div class="row">
				<div class="col-lg-6 col-xl-7">
					<h2 class="h2 mt-3">Hlavní chod</h2>

					<div class="form-group">
						{label name /}
						{input name}
					</div>

					<div class="form-group">
						{label recipe /}
						{input recipe}
					</div>

					<div class="form-group">
						{label category_id /}
						{input category_id}
					</div>

					<div class="form-group">
						{label side_id /}
						{input side_id}
					</div>

					<div class="form-group">
						<div class="d-flex align-items-center justify-content-start">
							{label allergens class => 'mb-0' /}
							<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
						</div>
						{input allergens}
					</div>

				</div>
				<div class="col-lg-6 col-xl-5">
					{include './includes/basket.latte'}
				</div>
			</div>
			
			<div class="d-flex align-items-center">
				{input submit}
				<a n:href="Recepty:" class="btn btn-secondary ml-3 mt-4">Zrušit</a>
			</div>

		{/form}

	{/switch}

</div>
