
{block description}Description{/block}
{block bodyClass}recepty{/block}

{block main}
<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item"><a n:href="Recepty:">Recepty</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nápoj</li>
      </ol>
    </nav>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
	</div>
	
	<div class="d-block d-sm-flex align-items-center justify-content-start mb-3">
		<h1 n:block="title" class="h1 mb-0 mr-3">Přidat nápoj</h1>
		<a href="{$settings[cookbook_url]}" target="_blank">Online kuchařka</a>
	</div>

  <ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" n:href="Recepty:pridatHlavniChod">Hlavní chod</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" n:href="Recepty:pridatPolevku">Polévka</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" n:href="Recepty:pridatNapoj">Nápoj</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" n:href="Recepty:pridatSalat">Salát</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" n:href="Recepty:pridatMoucnikDezert">Moučník/dezert</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" n:href="Recepty:pridatOstatni">Ostatní</a>
		</li>
	</ul>

	{form drinkForm}
	<div class="row">
		<div class="col-lg-6 col-xl-7">
			<h2 class="h2 mt-3">Nápoj</h2>
			
			<div class="form-group">
				{label name /}
				{input name}
			</div>

			<div class="form-group">
				{label recipe /}
				{input recipe}
			</div>

			<div class="form-group">
				{label category_id /}
				{input category_id}
			</div>

			<div class="form-group">
				<div class="d-flex align-items-center justify-content-start">
					{label allergens class => 'mb-0' /}
					<a href="{$baseUrl}/files/alergeny.pdf" target="_blank" class="ml-3"><small>Tabulka alergenů</small></a>
				</div>
				{input allergens}
			</div>

		</div>
	</div>

	<div class="d-flex align-items-center">
		<a n:href="Recepty:" class="btn btn-primary mr-3 mt-4">Zrušit</a>
		{input submit}
	</div>

	{/form}

</div>
