<div class="d-block d-sm-flex align-items-center mt-3">
	<h2 class="h2 mb-0 mt-0 mr-3">Spotřební koš</h2>
	<p class="mb-0">(1 porce)</p>
</div>

<div class="table-responsive">
	<table class="table table--basket">
		<thead class="thead-light">
			<tr>
				<th class="text-nowrap" scope="col">Surovina</th>
				
				<!-- Předškoláci -->
				{if in_array(1, $ageGroups)}
				<th class="text-nowrap" scope="col">3-6 let</th>
				{/if}
				
				<!-- První stupeň -->
				{if in_array(2, $ageGroups)}
				<th class="text-nowrap" scope="col">7-10 let</th>
				{/if}

				<!-- Druhý stupeň -->
				{if in_array(3, $ageGroups)}
				<th class="text-nowrap" scope="col">11-14 let</th>
				{/if}

				<!-- Střední školy -->
				{if in_array(4, $ageGroups)}
				<th class="text-nowrap" scope="col">15-18 let</th>
				{/if}

			</tr>
		</thead>
		<tbody>
			<tr>
				<th class="text-nowrap" scope="col">{label meat$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input meat1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input meat2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input meat3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input meat4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label fish$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input fish1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input fish2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input fish3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input fish4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label legumes$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input legumes1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input legumes2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input legumes3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input legumes4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label cereals$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input cereals1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input cereals2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input cereals3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input cereals4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label potatoes$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input potatoes1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input potatoes2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input potatoes3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input potatoes4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label vegetables$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input vegetables1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input vegetables2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input vegetables3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input vegetables4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label fat$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input fat1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input fat2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input fat3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input fat4}</td>
				{/if}
			</tr>
			<tr>
				<th class="text-nowrap" scope="col">{label salt$ageGroups[0] /}</th>
				{if in_array(1, $ageGroups)}
				<td>{input salt1}</td>
				{/if}
				{if in_array(2, $ageGroups)}
				<td>{input salt2}</td>
				{/if}
				{if in_array(3, $ageGroups)}
				<td>{input salt3}</td>
				{/if}
				{if in_array(4, $ageGroups)}
				<td>{input salt4}</td>
				{/if}
			</tr>
		</tbody>
	</table>
</div>