{block content}
<div class="error-page">
	<h1 n:block=title>Nepovolená metoda</h1>

	<p>Požadovaná metoda není pro tuto stránku poskytována.</p>

	<p><small>Chyba 405</small></p>

	<a n:href=":Front:Homepage:">Zpět na hlavní stránku</a>
</div>

