
{var $relDays = $menu[week]->related('relation_menu_day_menu_week')->fetchAll()}
{var $monday = $relDays[(array_key_first($relDays))]->ref('menu_day')}
{var $friday = $relDays[(array_key_last($relDays))]->ref('menu_day')}

<h3 class="text-center m-">{$monday->date|date:'j. n. Y'} - {$friday->date|date:'j. n. Y'}</h3>

{var $daysEn = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday']}
{var $daysCs = ['Pondělí', 'Úterý', 'Štředa', 'Čtvrtek', 'Pátek']}

<div class="menu menu--{$ageGroup}">
	{foreach $relDays as $relToDay}

		{var $day = $relToDay->ref('menu_day')}

		<table class="menu__day">
			<thead>
				<tr>
					<th colspan="2">{$daysCs[$iterator->counter - 1]} {$day->date|date:'j. n. Y'}</th>
				</tr>
			</thead>
			<tbody>
				{if in_array($day->date|date:'Y-m-d', $closedAtDates)}
					<tr>
						<th>Zavřeno:</th>
						<td>Tento den se nevaří</td>
					</tr>
				{else}
					<tr class="menu__dish menu__dish--snack1">
						<th>Přesnídávka:</th>

						{var $snacks1 = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['snacks1']}
						{if $snacks1}
						<td>
							{foreach $snacks1 as $sn1}
								{$sn1->name|lower}
								{var $allergens = ''}
								{foreach $sn1->related('relation_dish_allergen') as $dishAllergen}
									{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
								{/foreach}
								{if $allergens}
								<i class="ml-1 mr-1 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
								{/if}
								{if !$iterator->isLast()},{/if}
							{/foreach}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>
					<tr class="menu__dish menu__dish--soup">
						{var $soup = $menu[dishes][$daysEn[$iterator->counter - 1]][soup]}
						<th>Polévka:</th>
						{if $soup}
						<td>
							{$soup->name|lower}
							{var $allergens = ''}
							{foreach $soup->related('relation_dish_allergen') as $dishAllergen}
								{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
							{/foreach}
							{if $allergens}
							<i class="ml-2 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
							{/if}
							{if $showLikesComponent}
							<a href="#" class="menu__like like" data-url="/like" data-url-like="/like" data-url-dislike="/dislike" data-dish-id="{$soup->id}">
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart-o"></i>
							</a>
							{/if}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>
					<tr class="menu__dish menu__dish--main">
						{var $main = $menu[dishes][$daysEn[$iterator->counter - 1]][main]}
						<th>Hlavní chod{if $settings[has_two_main_dishes]} 1{/if}:</th>
						{if $main}
						<td>
							{$main->name|lower}
							{var $allergens = ''}
							{foreach $main->related('relation_dish_allergen') as $dishAllergen}
								{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
							{/foreach}
							{if $allergens}
							<i class="ml-2 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
							{/if}
							{if $showLikesComponent}
							<a href="#" class="menu__like like" data-url="/like" data-url-like="/like" data-url-dislike="/dislike" data-dish-id="{$main->id}">
								<i class="fa fa-heart"></i>
								<i class="fa fa-heart-o"></i>
							</a>
							{/if}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>

					<!-- If two main dishes -->
					{if $settings[has_two_main_dishes]}
						<tr class="menu__dish menu__dish--main2">
							{var $main2 = $menu[dishes][$daysEn[$iterator->counter - 1]][main2]}
							<th>Hlavní chod 2:</th>
							{if $main2}
							<td>
								{$main2->name|lower}
								{var $allergens = ''}
								{foreach $main2->related('relation_dish_allergen') as $dishAllergen}
									{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
								{/foreach}
								{if $allergens}
								<i class="ml-2 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
								{/if}
								{if $showLikesComponent}
								<a href="#" class="menu__like like" data-url="/like" data-url-like="/like" data-url-dislike="/dislike" data-dish-id="{$main2->id}">
									<i class="fa fa-heart"></i>
									<i class="fa fa-heart-o"></i>
								</a>
								{/if}
							</td>
							{else}
							<td>
								Nevaří se
							</td>
							{/if}
						</tr>
					{/if}

					<tr class="menu__dish menu__dish--additions">
						<th>Přídavek:</th>

						{var $additions = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['additions']}
						{if $additions}
						<td>
							{foreach $additions as $add}
								{$add->name|lower}
								{var $allergens = ''}
								{foreach $add->related('relation_dish_allergen') as $dishAllergen}
									{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
								{/foreach}
								{if $allergens}
								<i class="ml-1 mr-1 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
								{/if}
								{if !$iterator->isLast()},{/if}
							{/foreach}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>
					<tr class="menu__dish menu__dish--drinks">
						<th>Nápoje:</th>
						
						{var $drinks = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['drinks']}
						{if $drinks}
						<td>
							{foreach $drinks as $dr}
								{$dr->name|lower}
								{var $allergens = ''}
								{foreach $dr->related('relation_dish_allergen') as $dishAllergen}
									{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
								{/foreach}
								{if $allergens}
								<i class="ml-1 mr-1 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
								{/if}
								{if !$iterator->isLast()},{/if}
							{/foreach}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>
					<tr class="menu__dish menu__dish--snack2">
						<th>Svačina:</th>

						{var $snacks2 = ($menu['dishes'][$daysEn[$iterator->counter - 1]]) ? $menu['dishes'][$daysEn[$iterator->counter - 1]]['snacks2']}
						{if $snacks2}
						<td>
							{foreach $snacks2 as $sn2}
								{$sn2->name|lower}
								{var $allergens = ''}
								{foreach $sn2->related('relation_dish_allergen') as $dishAllergen}
									{var $allergens = $allergens . '<li>' . $dishAllergen->allergen->id . ': ' . $dishAllergen->allergen->name  . '</li>'}
								{/foreach}
								{if $allergens}
								<i class="ml-1 mr-1 fa fa-info" data-toggle="tooltip" data-html="true" data-placement="right" title="Alergeny: {$allergens}"></i>
								{/if}
								{if !$iterator->isLast()},{/if}
							{/foreach}
						</td>
						{else}
						<td>
							Nevaří se
						</td>
						{/if}
					</tr>
				{/if}
			</tbody>
		</table>
	{/foreach}
</div>

<!-- Background left -->
{if $menu[week]->background}
<div class="menu__bg menu__bg--left">
	<img src="{$baseUrl}/upload/{$menu['week']->background}" alt="" loading="lazy">		
</div>
{/if}

<!-- Background right-->
{if $menu[week]->background}
<div class="menu__bg menu__bg--right">
	<img src="{$baseUrl}/upload/{$menu['week']->background}" alt="" loading="lazy">		
</div>
{/if}