

// Global Variables
// ==================================================

// Colors
$primary-color: #20307f;
$primary-color-light: transparentize($primary-color, .85);
$secondary-color: #207f7b;
$secondary-color-light: transparentize($secondary-color, .85);
$error-color: #d90000;

$theme-colors: (
	"primary": $primary-color,
	"secondary": $secondary-color,
  "danger": $error-color
);

$facebook-color: #3b5998;
$google-plus-color: #dc4a38;

$body-bg: #fff;
$body-color: #000;
$text-color: $body-color;
$text-color-inverse: #fff;
// End Colors

// Fonts
$root-font-size: 16;

$font-family-base: 'Roboto', sans-serif;

$headings-font-family: 'Roboto', sans-serif;
$headings-line-height: 1.15;
$headings-font-weight: 300;

$font-weight-normal: 300;
$font-weight-bold: 700;

$line-height-base: 1.75;

$h1-font-size: rem(44);
$h2-font-size: rem(32);
$h3-font-size: rem(28);
$h4-font-size: rem(24);
$h5-font-size: rem(20);
$h6-font-size: rem($root-font-size);

// End Fonts

$enable-rounded:   false;