textarea {
	&.form-control {
		height: 6.6em;
		line-height: 1.5;
	}
}

.form-control {
	&:hover
	&:focus {
		border-color: $primary-color;
	}
}

.form-check-input {
	position: relative !important;
	top: .15rem;

	.page--sign-in & {
		margin-right: .5rem;
	}
}

.form-check-label {
	font-size: .73rem;
}

.select2 {
	width: 100% !important;
}

.select2-dropdown {
	border-radius: 0;
}

.select2-container--default .select2-selection--single {
	border-radius: 0; 
	height: calc(1.75em + 0.75rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: calc(1.75em + 0.75rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: calc(1.75em + 0.75rem);
}

select[multiple] {
	height: 8.5rem !important; 
}