.table-responsive {
	overflow: visible;

	@media(max-width: 1260px) {
		overflow-x: auto;
	}
}

.table {

	box-shadow: 0px 0px 35px -16px rgba(85,103,127,0.65);

	th {
		line-height: 1.15;
		vertical-align: middle !important;
	}

	tbody {
		td, th {
			padding-top: .35rem;
			padding-bottom: .35rem;
			vertical-align: middle;
		}
	}

	.action {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 1.75rem;
		height: 1.75rem;
		text-align: center;

		border-color: rgba(85,103,127,0.1);
		box-shadow: 0px 0px 5px 0px rgba(85,103,127,0.3);
		background: #fff;

		.fa {
			margin: 0 !important;
		}

		&:hover {
			box-shadow: 0px 0px 8px 0px rgba(85,103,127,0.65);
		}
	}

}

.table--basket {

	margin-top: rem(42);

	tbody {
		td, th {
			padding-top: .5em;
			padding-bottom: .5em;
		}
	}

	label {
		margin-bottom: 0;
	}

	.form-control {
		width: rem(50);
		padding-left: 0;
		padding-right: 0;
		text-align: center;

		line-height: 1;
		height: rem(30)
	}
}

.table--recipes {
	.td--actions {
		line-height: 1.5;
	}

	.td--category {
		.ellipsis {
			position: relative;
			top: .29rem;
			width: 15rem;

			@include media-breakpoint-down(md) {
				width: 10rem;
			}

			@include media-breakpoint-down(xs) {
				width: 8rem;
			}
		}
	}

	.td--side {
		.ellipsis {
			position: relative;
			top: .29rem;
			width: 6rem;

			// @include media-breakpoint-down(md) {
			// 	width: 10rem;
			// }

			// @include media-breakpoint-down(xs) {
			// 	width: 8rem;
			// }
		}
	}

	@include media-breakpoint-down(md) {
		min-width: 1000px;
	}

	@include media-breakpoint-down(xs) {
		min-width: 850px;
	}
}

.table--generator {

	body.page--generator-edit & {
		
		@include media-breakpoint-up(lg) {
			.week:not(.week--edited) {
				opacity: .35;
				pointer-events: none;
	
				.fa {
					display: none;
				}
			}
		}
		
		$border: 3px solid $primary-color;

		thead {
			.week--edited {
				background: $primary-color-light;
				border: $border;
				border-bottom: none;
			}
		}

		tbody {
			.week--edited {
				border-left: $border;
				border-right: $border;
			}
		}

		// tbody tr:first-child {
		// 	.week--edited {
		// 		border-top: $border;
		// 	}
		// }

		tbody tr:last-child {
			.week--edited {
				border-bottom: $border;
			}
		}
	}

	tbody {
		td {
			* {
				font-size: 1rem;

				@include media-breakpoint-down(lg) {
					font-size: .75rem;
				}

				@include media-breakpoint-down(md) {
					font-size: 1rem;
				}
			}

			b {
				display: inline-block;
				width: rem(30);
			}

			@include media-breakpoint-down(md) {
				width: 100%;
				border-top: none;
			}
		}

		th {
			@include media-breakpoint-down(md) {
				width: 100%;
				// border-top: none;
				padding-top: 1rem;
			}
		}
	}

	button {
		display: inline-block;
		border: none;
		background: none;
		padding: 0;
		width: rem(20);
	}

	@include media-breakpoint-down(md) {
		body.page--generator-edit & {
			.table {
				display: none !important;
			}
	
			.table--edited {
				display: table !important;
			}
		}
	}
}

.table--menus {
	tr.active {
		td {
			font-weight: bold;
			background: $secondary-color-light !important;
		}
	}

	.td--actions {
		width: 10rem;
	}
}
	