
{block description}Description{/block}
{block bodyClass}generator-menu{/block}

{block main}

<div class="container">

  <div class="d-flex align-items-center justify-content-between mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent p-0 m-0">
        <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sestavit jídelníček</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1 n:block="title" class="h1">Sestavit jídelníček</h1>
    <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
  </div>

  <div class="row justify-content-center">
    
    {if in_array(1, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-cutlery fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4 mb-3">Mateřská škola</p>

          <a n:href="SestaveniJidelnicku:menuBuilder 1, true">
            Ručně
          </a>

          <br>

          <a n:href="SestaveniJidelnicku:menuBuilder 1">
            Automaticky
          </a>

        </div>
      </div>
    </div>
    {/if}

    {if in_array(2, $ageGroups) || in_array(3, $ageGroups)}
      
      {var $ageGroupNumber = 2}
      {if in_array(3, $ageGroups)}
        {var $ageGroupNumber = 3}
      {/if}

      <div class="col-sm-6 col-lg-3">
        <div class="card text-center">
          <div class="card-img-top p-3 pt-5">
            <i class="fa fa-cutlery fa-5x text-primary" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="h4 mb-3">Základní škola</p>

            <a n:href="SestaveniJidelnicku:menuBuilder $ageGroupNumber, true">
              Ručně
            </a>

            <br>

            <a n:href="SestaveniJidelnicku:menuBuilder $ageGroupNumber">
              Automaticky
            </a>

          </div>
        </div>
      </div>
    {/if}

    {if in_array(4, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-cutlery fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4 mb-3">Střední škola</p>

          <a n:href="SestaveniJidelnicku:menuBuilder 4, true">
            Ručně
          </a>

          <br>

          <a n:href="SestaveniJidelnicku:menuBuilder 4">
            Automaticky
          </a>

        </div>
      </div>
    </div>
    {/if}

    {if in_array(5, $ageGroups)}
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center">
        <div class="card-img-top p-3 pt-5">
          <i class="fa fa-cutlery fa-5x text-primary" aria-hidden="true"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="h4 mb-3">Cizí strávníci</p>

          <a n:href="SestaveniJidelnicku:menuBuilder 5, true">
            Ručně
          </a>

          <br>

          <a n:href="SestaveniJidelnicku:menuBuilder 5">
            Automaticky
          </a>

        </div>
      </div>
    </div>
    {/if}

  </div>

  <div class="text-center mt-5">
    <a class="btn btn-primary" n:href="Homepage:">Zpět na hlavní stránku</a>
  </div>

</div>