
{block description}Description{/block}
{block bodyClass}generator-edit{/block}

{block main}

<div class="generator generator--{$ageGroup}">
  <div class="container-fluid pl-xxl-5 pr-xxl-5">

    <div class="d-flex align-items-center justify-content-between mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0">
          <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
          <li class="breadcrumb-item"><a n:href="Archiv:">Archiv</a></li>
          <li class="breadcrumb-item"><a n:href="Archiv:">Editace jídelníčku {$id}</a></li>

					{if $ageGroup == 1}
						<li class="breadcrumb-item active" aria-current="page">Mateřská škola</li>
					{/if}

					{if $ageGroup == 2 || $ageGroup == 3}
						<li class="breadcrumb-item active" aria-current="page">Základní škola</li>
					{/if}

					{if $ageGroup == 4}
						<li class="breadcrumb-item active" aria-current="page">Střední škola</li>
          {/if}
          
          {if $ageGroup == 5}
            <li class="breadcrumb-item active" aria-current="page">Cizí strávníci</li>
          {/if}
        </ol>
      </nav>
    </div>

    <div class="d-flex flex-column flex-xl-row justify-content-between mb-3">

      <div class="d-flex flex-column align-items-between justify-content-between">
        <div class="mb-3">
          <h1 n:block="title" class="h1 mb-0s">Editace jídelníčku</h1>
          <span class="d-none d-sm-inline">Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
        </div>
        <div class="generator__buttons">
          <a n:href="Archiv:editMenu $id" class="btn btn-primary mr-3">Zrušit</a>
				  <a href="#" class="gSaveEdited btn btn-secondary">Uložit změny jídelníčku</a>
        </div>
      </div>

      <div class="mt-5 mt-xl-0">
        Nedostatky jídelníčku:
        <div id="checker" class="generator__checker" data-agegroup="{$ageGroup}">
          
          <div class="d-flex flex-column flex-lg-row">

            {if $ageGroup < 5}
            <div class="generator__checker-basket mb-3 mb-lg-0 mr-0 mr-lg-3">

              <strong class="text-nowrap">Spotřební koš:</strong>
              
              <div class="generator__checker-type" data-type-id="2">
                <strong><small>Polévky:</small></strong>
                <div class="generator__errors">
                  <ul class="mb-0 pl-3">
                    {foreach $recommedBasketForSoup as $s}
                      <li class="recommendations text-lg-nowrap text-danger" data-id="{$s->id}" data-name="{$s->translation}" data-value="{$s->value}" data-restriction="{$s->restriction}">{$s->name} - <span class="actualValue">{$menuArray[basket][soups][$s->translation]}</span> g, cíl - {$s->restriction} {$s->value} g</li>
                    {/foreach}
                    <li class="text-lg-nowrap text-success">Žádné chyby</li>
                  </ul>
                </div>
              </div>

              <div class="generator__checker-type" data-type-id="1">
                <strong><small>Hlavní chod:</small></strong>
                <div class="generator__errors">
                  <ul class="mb-0 pl-3">
                    {foreach $recommedBasketForMainDish as $m}
                      <li class="recommendations text-lg-nowrap text-danger" data-id="{$m->id}" data-name="{$m->translation}" data-value="{if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}" data-restriction="{$m->restriction}">{$m->name} - <span class="actualValue">{$menuArray[basket][mains][$m->translation]}</span> g, cíl - {$m->restriction} {if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if} g</li>
                    {/foreach}
                    <li class="text-lg-nowrap text-success">Žádné chyby</li>
                  </ul>
                </div>
              </div>

            </div>
            {/if}

            <div class="generator__checker-nutri mb-3 mb-lg-0 mr-0 mr-lg-3">

              <strong class="text-nowrap">Nutriční doporučení:</strong>
              
              <div class="generator__checker-type" data-type-id="2">
                <strong><small>Polévky:</small></strong>
                <div class="generator__errors">
                  <ul class="mb-0 pl-3">
                    {foreach $recommedNutriForSoup as $k => $s}
                      <li class="recommendations text-lg-nowrap text-danger" data-id="{$s->id}" data-category-name="{$s->category->name}" data-category-id="{$s->category->id}" data-value="{$s->value}" data-restriction="{$s->restriction}">{$s->category->name} - <span class="actualValue">{$menuArray[nutri][soups][$k]}</span>x, cíl - {$s->restriction} {$s->value}x</li>
                    {/foreach}
                    <li class="text-lg-nowrap text-success">Žádné chyby</li>
                  </ul>
                </div>
              </div>

              <div class="generator__checker-type" data-type-id="1">
                <strong><small>Hlavní chod:</small></strong>
                <div class="generator__errors">
                  <ul class="mb-0 pl-3">
                    {foreach $recommedNutriForMainDish as $k => $m}
                      <li class="recommendations text-lg-nowrap text-danger" data-id="{$m->id}" data-category-name="{$m->category->name}" data-category-id="{$m->category->id}" data-value="{if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}" data-restriction="{$m->restriction}">{$m->category->name} - <span class="actualValue">{$menuArray[nutri][mains][$k]}</span>x, cíl - {$m->restriction} {if $settings[has_two_main_dishes]}{$m->value * 2}{else}{$m->value}{/if}x</li>
                    {/foreach}
                    <li class="text-lg-nowrap text-success">Žádné chyby</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
			</div>

    </div>
  </div>
  
  <div class="container-fluid pl-xxl-5 pr-xxl-5">

    <div class="generator__main">
      <div class="table-responsive">
        {include './includes/_table-desktop.latte'}
        {include './includes/_table-mobile.latte'}
      </div>

      <div class="text-center d-flex align-items-center justify-content-center">
				<a n:href="Archiv:editMenu $id" class="btn btn-primary mr-3">Zrušit</a>
				<a href="#" class="gSaveEdited btn btn-secondary">Uložit změny jídelníčku</a>
      </div>

		</div>

  </div>

  {include './includes/_modal-soup.latte'}
  {include './includes/_modal-main.latte'}
  {include './includes/_modal-additions.latte'}
  {include './includes/_modal-drinks.latte'}

  <!-- Json -->
  {include './includes/_json.latte'}
  {*
  {include './includes/_json-test.latte'}
  *}

</div>