{block description}Description{/block}
{block bodyClass}generator{/block}

{block main}

<div class="generator generator--{$ageGroup}">
  <div class="container-fluid pl-xxl-5 pr-xxl-5">
  
    <div class="d-flex align-items-center justify-content-between mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0 m-0">
          <li class="breadcrumb-item"><a n:href="Homepage:">Hlavní stránka</a></li>
					<li class="breadcrumb-item"><a n:href="SestaveniJidelnicku:">Sestavení jídelníčku</a></li>

					{if $ageGroup == 1}
						<li class="breadcrumb-item active" aria-current="page">Mateřská škola</li>
					{/if}

					{if $ageGroup == 2 || $ageGroup == 3}
						<li class="breadcrumb-item active" aria-current="page">Základní škola</li>
					{/if}

					{if $ageGroup == 4}
						<li class="breadcrumb-item active" aria-current="page">Střední škola</li>
          {/if}
          
          {if $ageGroup == 5}
            <li class="breadcrumb-item active" aria-current="page">Cizí strávníci</li>
          {/if}

        </ol>
      </nav>
    </div>

    {include './includes/_checker.latte'}
    {include './includes/_generator.latte'}

  </div>

  {include './includes/_modal-soup.latte'}
  {include './includes/_modal-main.latte'}
  {include './includes/_modal-additions.latte'}
  {include './includes/_modal-drinks.latte'}

  <!-- Json -->
  {include './includes/_json.latte'}
  {*
  {include './includes/_json-test.latte'}
  *}

</div>