<footer class="footer navbar-light bg-light d-flex  align-items-center" role="contentinfo" n:if="$user->loggedIn">

  <div class="container">
    <div class="d-flex justify-content-between">
      <a href="{$settings[school_url]}" target="_blank">{$settings[school_name]}</a>
      <span>Dnešní datum: {$actualServerTime|date:'j. n. Y'}</span>
      <a n:href=":Admin:Sign:out">Odhlásit se</a>
    </div>
  </div>

</footer>