<header id="header" class="header" n:if="$user->loggedIn">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" n:href=":Front:Homepage:">Jídelníček</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item {ifCurrent :Admin:Homepage:* }active{/ifCurrent}">
            <a class="nav-link" n:href="Homepage:">Domů</a>
          </li>
          <li class="nav-item {ifCurrent :Admin:SestaveniJidelnicku:* }active{/ifCurrent}">
            <a class="nav-link" n:href="SestaveniJidelnicku:">Sestavit jídelníček</a>
          </li>
          <li class="nav-item dropdown {ifCurrent :Admin:Recepty:* }active{/ifCurrent}"">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recepty
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" n:href="Recepty:">Výpis receptů</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatHlavniChod }active{/ifCurrent}" n:href="Recepty:pridatHlavniChod">Přidat hlavní chod</a>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatPolevku }active{/ifCurrent}" n:href="Recepty:pridatPolevku">Přidat polévka</a>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatNapoj }active{/ifCurrent}" n:href="Recepty:pridatNapoj">Přidat nápoj</a>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatSalat }active{/ifCurrent}" n:href="Recepty:pridatSalat">Přidat salát</a>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatMoucnikDezert }active{/ifCurrent}" n:href="Recepty:pridatMoucnikDezert">Přidat moučník/dezert</a>
              <a class="dropdown-item {ifCurrent :Admin:Recepty:pridatOstatni }active{/ifCurrent}" n:href="Recepty:pridatOstatni">Přidat ostatní položky</a>
            </div>
          </li>
          <li class="nav-item {ifCurrent :Admin:Archiv:* }active{/ifCurrent}">
            <a class="nav-link" n:href="Archiv:">Archiv</a>
          </li>
          <li class="nav-item {ifCurrent :Admin:Nastaveni:* }active{/ifCurrent}">
            <a class="nav-link" n:href="Nastaveni:">Nastavení</a>
          </li>
          <li class="nav-item nav-item-logout d-block d-lg-none">
            <a class="nav-link" n:href=":Admin:Sign:out">Odhlásit se</a>
          </li>
        </ul>
      </div>

      <a class="nav-logout text-white" n:href=":Admin:Sign:out">Odhlásit se</a>
    </div>
  </nav>

</header>
